<!DOCTYPE html>
<html lang="de">
  <%= partial('layouts/components/head', :locals => { 'tabtitle' => current_page.data.tabTitle, 'description' => current_page.data.description}) %>
  <body>
    <%= yield %>
    <%= partial('layouts/components/footer', :locals => { 'indexPage' => false}) %>
    <script src="js/init.js"></script>
    <script data-goatcounter="https://elfev.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script> 
  </body>
</html>