<!DOCTYPE html>
<html lang="de">
  <%= partial('layouts/components/head', :locals => { 'tabtitle' => current_page.data.tabTitle, 'description' => current_page.data.description}) %>
  <body>
    <%= yield %>
    <%= partial('layouts/components/footer', :locals => { 'indexPage' => false}) %>
    <script>
      function copyStringToClipboard (str) {
         // Create new element
         var el = document.createElement('textarea');
         // Set value (string to be copied)
         el.value = str;
         // Set non-editable to avoid focus and move outside of view
         el.setAttribute('readonly', '');
         el.style = {position: 'absolute', left: '-9999px'};
         document.body.appendChild(el);
         // Select text inside element
         el.select();
         // Copy text to clipboard
         document.execCommand('copy');
         // Remove temporary element
         document.body.removeChild(el);
         // Show toast
         M.toast({html: 'Link kopiert: ' + str, classes: 'rounded'});
      }
    </script>
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/lazyload.js"></script>
    <script data-goatcounter="https://elfev.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script> 
  </body>
</html>