<div class="parallax-container <% if logo == true %>index-banner<% else %>page-banner<% end %>">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <% if logo == true %>
      <div class="row center">
        <img class="lazyload big-logo" data-src="img/logo.svg" alt="E.L.F. e.V. Logo"/>
      </div>
      <% end %>
      <h1 class="header-1"><%= current_page.data.title %></h1>
      <p class="header-2"><%= current_page.data.secondaryTitle %></p>
      <br><br>
    </div>
  </div>
  <div class="parallax">
    <img class="lazyload header-image" data-src="<%= backgroundFile %>" alt="<%= altText %>" style="<%= style %>"/>
  </div>
</div>