<div class="<% case btnPosition %><% when 'center' %>center<% when 'left' %>left<% when 'right' %>right<% end %>">
	<a class="waves-effect waves-dark<% case btnType %><% when 'flat' %> btn-flat<% when 'filled' %> btn red darken-1<% when 'bordered' %> btn-flat bordered <% when 'large'%> btn-large red darken-1 btn-header<% end %> modal-trigger" href="<%= btnLink %>"<% if btnLinkInNewTab == true %> target="_blank"<% end %>><% if btnIcon != '' %><i class="bi bi-<%= btnIcon %> left"></i><% end %><%= btnText %></a>
</div>