<ul class="collection">
  <li class="collection-item avatar">
    <i class="bi bi-calendar-week circle red darken-1"></i>
    <span class="title"><%= title %></span>
    <p><%= text %></p>
    <% if icsFileName != '' %><a href="downloads/<%= icsFileName %>" class="secondary-content tooltipped" data-position="left" data-tooltip="Zum Kalender hinzufügen"><i class="bi bi-calendar-plus red-d1-text"></i></a><% end %>
  </li>
</ul>