<head>
  <title><%= tabtitle %></title>
  <meta name="description" content="<%= description %>">
  <meta name="robots" content="index, follow" />
  <link type="text/css" rel="stylesheet" href="fonts/bootstrap-icons/bootstrap-icons.css">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/animated-headline.css">
  <link rel="stylesheet" href="fonts/roboto/roboto.css">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <meta name="theme-color" content="#e53935"/>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="bdZqUZQVf-q7Ze4GALKbxTglCuwDsijTlZ1DXU2Ze6s" />
</head>