<div id="<%= id %>" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4><%= title %></h4>
    <%= yield %>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-light btn-flat">Schließen</button>
  
    <% if buttonText != '' %>
      <% if onclick = '' %>
        <a <%if buttonLink != '' %>href="<%= buttonLink %>" target='_blank' <% end %><% if onClick != '' %>onclick="<%= onClick %>" <% end %>class="waves-effect waves-light btn red darken-1"><%= buttonText %></a>
      <% else %>
        <button <%if buttonLink != '' %>href="<%= buttonLink %>" target='_blank' <% end %><% if onClick != '' %>onclick="<%= onClick %>" <% end %>class="waves-effect waves-light btn red darken-1"><%= buttonText %></button>
      <% end %>
    <% end %>
  </div>
</div>