<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red darken-1">
      <% if sidenav == true %>
      <button data-target="slide-out" class="sidenav-trigger show-on-med-and-down pointer" aria-label="Navigationsmenü">
        <i class="bi bi-list"></i>
      </button>
      <% end %>
      <% if logo == true %>
      <a href="https://www.elf-ev.de" <% if logoHideOnTop == true %>id="hideOnTop" <% end %>class="brand-logo logo-navbar-small logo-navbar-med logo-navbar-large">
        <img class="lazyload navbar-logo" data-src="img/logo.svg" alt="E.L.F. e.V. Logo"/>
      </a>
      <% end %>
      <% if primaryLinks.length != 0 %>
      <ul id="nav-mobile" class="<%= linksPosition %><% if showOnMobile == false %> hide-on-med-and-down<% end %>">
        <% i = 0 %>
        <% loop do %>
          <li><a href="<%= primaryLinks[i + 1] %>">
            <% if primaryLinks[i] != '' %><%= primaryLinks[i] %><% else %><i class="bi bi-<%= primaryLinks[i + 2] %>"></i><% end %>
            </a></li>
          <% i = i + 3 %>
          <% if i >= primaryLinks.length %>
            <% break %>
          <% end %>
        <% end %>
        <% if policyInformation == true %>
          <li><a href="impressum_datenschutz.html">Impressum &amp; Datenschutz</a></li>
        <% end %>
        <% if membersArea == true %>
          <li><a href="mitglieder.html" class="tooltipped" data-position="left" data-tooltip="Mitgliederbereich"><i class="bi bi-person-check" style="font-size:24px !important"> </i></a></li>
        <% end %>
        <% if search == true %>
          <li><a href="#modal-suche" class="tooltipped modal-trigger" data-position="left" data-tooltip="Suche"><i class="bi bi-search" style="font-size:24px !important"></i></a></li>
        <% end %>
      </ul>
      <% end %>
      <% if search == true %>
        <ul id="nav-mobile" class="right hide-on-large-only">
          <li><a href="#modal-suche" class="disabled-hover modal-trigger"><i class="bi bi-search"></i></a></li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>

<% if sidenav == true %>
  <ul id="slide-out" class="sidenav dragable">
    <li>
      <div class="user-view">
        <div class="background red darken-1">
          
        </div>
          <div>
            <img class="lazyload sidenav-logo" data-src="img/logo.svg" alt="E.L.F. e.V. Logo"/>
          </div>
        <div>
          <span class="white-text name text-shadow-1"><%= sidenavTitle %></span>
        </div>
        <div>
          <span class="white-text email text-shadow-1"><%= sidenavSecondaryTitle %></span>
        </div>
      </div>
    </li>
    <% if sidenavCard.length != 0 %>
      <a class="sidenav-close bordered-card-link" href="<%= sidenavCard[3] %>">
        <div class="card bordered-card waves-dark waves-effect">
          <div class="card-content bordered-card-content">
            <p>
              <b><%= sidenavCard[0] %></b><i class="bi bi-<%= sidenavCard[4] %> right"></i><br>
              <i><%= sidenavCard[1] %></i><br>
              <%= sidenavCard[2] %>
            </p>
          </div>
        </div>
      </a>
      <li><div class="divider"></div></li>
    <% end %>
    <% i = 0 %>
    <% loop do %>
      <li><a href="<%= primaryLinks[i + 1] %>" class="sidenav-close"><i class="bi bi-<%= primaryLinks[i + 2] %>"></i><%= primaryLinks[i] %></a></li>
      <% i = i + 3 %>
      <% if i >= primaryLinks.length %>
        <% break %>
      <% end %>
    <% end %>
    <% if policyInformation == true || membersArea == true %>
      <li><div class="divider"></div></li>
    <% end %>
    <% if membersArea == true %>
      <li><a href="mitglieder.html">Mitgliederbereich</a></li>
    <% end %>
    <% if policyInformation == true %>
      <li><a class="waves-effect" href="impressum_datenschutz.html">Impressum &amp; Datenschutz</a></li>
      <li><a class="waves-effect" href="lizenzen.html">Lizenzen</a></li>
    <% end %>
  </ul>
<% end %>

<% if search == true %>
  <div id="modal-suche" class="modal">
    <div class="modal-content">
      <h4>Was suchst du?</h4>
      <a class="chip modal-close waves-effect" href="#11zuhause">
        #11zuhause
        <i class="bi bi-house"></i>
      </a>
      <a class="chip modal-close waves-effect" href="#treffen-karte">
        Öffnungszeiten
        <i class="bi bi-clock"></i>
      </a>
      <a class="chip modal-close waves-effect" href="#spenden">
        Spenden
        <i class="bi bi-currency-euro"></i>
      </a>
      <a class="chip modal-close waves-effect" href="#vorstand">
        Vorstand
        <i class="bi bi-people"></i>
      </a>
      <a class="chip modal-close waves-effect" href="#mitglied-werden">
        Mitgliedsantrag
        <i class="bi bi-file-earmark-text"></i>
      </a>
      <a class="chip modal-close waves-effect" href="#kindergeburtstage">
        Kindergeburtstage
        <i class="bi bi-emoji-laughing"></i>
      </a>
      <a class="chip modal-close waves-effect" href="#vereinsname">
        Vereinsname
        <i class="bi bi-clock-history"></i>
      </a>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat pointer">Schließen</a>
    </div>
  </div>
<% end %>

<% if arrowUp == true %>
  <div class="fixed-action-btn">
    <button onclick="topFunction()" class="btn-floating red darken-1 pointer" aria-label="Nach oben scrollen">
      <i class="bi bi-chevron-double-up"></i>
    </button>
  </div>
<% end %>