<% addedClass = ' ' + addClass %>

<% if backgroundImageFile != '' %><div class="parallax-container auto-height"><% end %>
  <section class="section scrollspy row" id="<%= sectionId %>">
    <% if sectionTitle != '' %><h2 class="section-title <% if backgroundImageFile != '' %>white-text<% end %>"><%= sectionTitle %></h2><% end %>
    <div class="<% if pageIntroduction == false %>container-wide<% else %>container<% end %><%= addedClass %>">
        <%= yield %>
    </div>
  </section>
  <% if backgroundImageFile != '' %>
    <div class="parallax">
      <img class="lazyload" data-src="img/<%= backgroundImageFile %>" alt="<%= sectionTitle %>"<% if style != ''%> style="<%= style %>"<% end %>/>
    </div>
  <% end %>
<% if backgroundImageFile != '' %></div><% end %>