.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 270px;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 350px;
  height: 262.5px;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  margin: 32px auto;
  max-width: 512px;
  min-height: inherit;
  width: 90%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(138,149,158,0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(138,149,158,0.3);
  box-shadow: 0px 5px 10px 0px rgba(138,149,158,0.3);
}

.parallax-container .card, .dark .card {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(138,149,158,0.05);
  -moz-box-shadow: 0px 5px 10px 0px rgba(138,149,158,0.05);
  box-shadow: 0px 5px 10px 0px rgba(138,149,158,0.05);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #e53935;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #ef9a9a;
}

.btn, .btn-large, .btn-small,
.btn-flat {
  border-radius: 4px;
}

.btn, .btn-large, .btn-small, .btn-floating {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(5,5,5,0.15);
  -moz-box-shadow: 0px 3px 6px 0px rgba(5,5,5,0.15);
  box-shadow: 0px 3px 6px 0px rgba(5,5,5,0.15);
}

.btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
  -webkit-box-shadow: 0px 6px 12px 0px rgba(5,5,5,0.15);
  -moz-box-shadow: 0px 6px 12px 0px rgba(5,5,5,0.15);
  box-shadow: 0px 6px 12px 0px rgba(5,5,5,0.15);
}

.img-container{
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 216px; 
  height: auto;
  max-width: 384px;
  max-height: 216px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.img-container img{
  display: block;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  max-width: 384px;
  max-height: 216px;
}

.img-container img:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.card .card-image img {
  border-radius: 8px 8px 0 0;
}

.card .card-action {
  border-radius: 0 0 8px 8px;
}

.card .card-action:last-child {
  border-radius: 0 0 8px 8px;
}

.btn, .btn-large, .btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
  font-size: 14px;
  font-weight: 500;
  outline: 0;
}

.container-wide {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .container-wide {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .container-wide {
    width: 100%;
  }
}

.red-d1-text {
  color: #e53935;
}

.red-d1 {
  background-color: #e53935 !important;
}

.indigo-d1-text {
  color: #3949ab;
}

.indigo-d1 {
  background-color: #3949ab !important;
}

.orange-d4-text {
  color: #e65100;
}

.orange-d4 {
  background-color: #e65100 !important;
}

.green-d1-text {
  color: #43a047;
}

.green-d1 {
  background-color: #43a047 !important;
}

.teal-d1-text {
  color: #00897b;
}

.teal-d1 {
  background-color: #00897b !important;
}

.modal .modal-footer {
  min-height: 56px;
  height: auto;
}

.collection {
  margin: 0px;
  border: none;
}

.collapsible {
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius:  8px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.collapsible-header:hover {
  background-color: #e5e5e5;
}

.collapsible.no-top-line {
  border-top: 0px;
}

span.badge.new:after {
  content: "";
}

.card .card-title.activator1 {
  cursor: pointer;
}

.card .card-title.activator2 {
  cursor: pointer;
}

.card .card-title.activator3 {
  cursor: pointer;
}

.card .card-title.activator4 {
  cursor: pointer;
}

.card .card-title.activator5 {
  cursor: pointer;
}

.card.sticky-action .card-reveal1 {
  z-index: 1;
  padding-bottom: 64px;
}

.card.sticky-action .card-reveal2 {
  z-index: 1;
  padding-bottom: 64px;
}

.card.sticky-action .card-reveal3 {
  z-index: 1;
  padding-bottom: 64px;
}

.card.sticky-action .card-reveal4 {
  z-index: 1;
  padding-bottom: 64px;
}

.card.sticky-action .card-reveal5 {
  z-index: 1;
  padding-bottom: 64px;
}

.card .card-reveal1 {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal1 .card-title {
  cursor: pointer;
  display: block;
}

.card .card-reveal2 {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal2 .card-title {
  cursor: pointer;
  display: block;
}

.card .card-reveal3 {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal3 .card-title {
  cursor: pointer;
  display: block;
}

.card .card-reveal4 {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal4 .card-title {
  cursor: pointer;
  display: block;
}

.card .card-reveal5 {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal5 .card-title {
  cursor: pointer;
  display: block;
}

td, th {
  padding: 8px 5px;
}

@media only screen and (max-width: 600px) {
   .logo-navbar-small{
    margin-top: 3px !important;
    text-align: left;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .logo-navbar-med {
    margin-top: 7px !important;
    text-align: left;
  }
}

@media only screen and (min-width: 993px) {
  .logo-navbar-large {
    margin-top: 7px !important;
    text-align: left;
    margin-left: 56px;
  }
}

.bordered-card {
  width: 268px;
  box-shadow: none;
  border-style: solid;
  border-width: 1.5px;
  border-color: #e53935;
  margin: 10px 16px;
  background-color: #f5f5f5;
  color: black;
}

.bordered-card-content {
  padding: 10px 13px 13px 13px ! important;
}

.bordered-card-link {
  padding: 0px;
  margin: 0px;
}

.card-content .bordered-card {
  width: auto;
  margin-left: 0px;
  margin-bottom: 20px;
}

.card-reveal1 .bordered-card, .card-reveal2 .bordered-card,.card-reveal3 .bordered-card,.card-reveal4 .bordered-card, .card-reveal5 .bordered-card {
  width: auto;
  margin-left: 0px;
}

h4{
  font-weight: bolder;
}

.modal {
  max-height: 70%;
  border-radius: 8px;
}

.modal-fixed-footer{
  width: 50%;
}

@media only screen and (max-width: 992px) {
  .modal-fixed-footer {
    max-height: 100%;
    width: 100%;
    height: 100% !important;
    top: 0% !important;
    margin-top: 0px;
    border-radius: 0px;
  }
}

.card .card-title {
  font-size: 24px;
  font-weight: 650;
}

.header-1{
  font-weight: 700;
  text-shadow: 2px 2px 4px #1C1C1C;
  text-align: center;
  color: white;
}

.header-2{
  text-shadow: 1px 1px 3px #1C1C1C;
  text-align: center;
  color: white;
  font-weight: 400;
}

.btn-floating{
  border-radius: 100% !important;
}

h2{
  font-weight: 700;
}

.card .card-action a.btn {
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.disabled-hover:hover {
  background-color: #e53935;
}

nav {
  box-shadow: 0 2px 10px 0 rgba(5,5,5,0.15);
}

.btn-header {
  margin-bottom: 40px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 100px;
  -webkit-box-shadow: 6px 10px 24px -9px rgba(186,3,0,0.75);
  -moz-box-shadow: 6px 10px 24px -9px rgba(186,3,0,0.75);
  box-shadow: 6px 10px 24px -9px rgba(186,3,0,0.75);
}

.btn-header:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 6px 10px 24px 0px rgba(186,3,0,0.75);
  -moz-box-shadow: 6px 10px 24px 0px rgba(186,3,0,0.75);
  box-shadow: 6px 10px 24px 0px rgba(186,3,0,0.75);
}

.btn-floating .move:hover {
  transform: translateY(-6px);
}

.chip i {
  float: left;
  font-size: 16px;
  line-height: 32px;
  padding-right: 8px;
}

.img-gradient {
  border-radius: 8px;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+65,1+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.nodec {
  color: black;
  font-weight: medium;
}

.collection-item {
  color: black;
}

.pointer {
  cursor: pointer;
}

.navbar-logo {
  height: 50px;
  background-color: black;
  border-radius: 2px;
}

.sidenav-logo {
  background-color: white;
  border-radius: 2px;
  width: 40px;
}

.text-shadow-1 {
  text-shadow: 1px 1px 3px rgba(28, 28, 28, 0.5);
}

.index-banner {
  height: auto;
}

.page-banner {
  height: 280px;
}

.section {
  padding-top: 2rem;
}

.btn-flat.bordered {
  border: 1px solid #dadce0;
  height: auto;
  margin-top: 20px;
  color: #e53935;
}

.card-image .card-title {
  text-shadow: 0px 0px 20px #000000;
}

.big-logo {
  height: 150px;
  box-shadow: 1px 1px 10px #1C1C1C;
  background-color: black;
  border-radius: 2px;
}

.parallax {
  background-color: #101010;
}

.auto-height {
  height: auto;
}

.section-title {
  text-align: center;
}

.section-title.white-text {
  text-shadow: 2px 2px 4px #1C1C1C;
}

.collapsible-header .right {
  margin-left: auto;
}

.collapsible-header.first {
  border-radius: 8px 8px 0px 0px;
}

.collapsible-header.last {
  border-radius: 0px 0px 8px 8px;
  border-bottom: 0px;
}

.only-image-card .img-gradient img {
  border-radius: 8px;
}

.only-image-card .card-title {
  width: 100%;
  margin-bottom: 5px;
}

.only-image-card i {
  margin-top: 5px;
}

.only-image-card .card-title.description {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: -10px;
}

table {
  margin-top: 20px;
  margin-bottom: -20px;
}

.cd-headline {
  margin-top: 0 px;
}

.cd-headline.small {
  font-size: 1.64rem;
  margin-top: 0px;
}

.header-image {
   -webkit-filter: blur(2px);
   filter: blur(2px);
}

.justify {
  text-align: justify;
}

.button-row a {
  margin-right: 5px;
}

.button-row a:last-child {
  margin-right: 0px;
}

.narrow-text {
  max-width: 400px;
}

.no-shadow {
  text-shadow: 0px 0px 0px #000000;
}

.card-reveal1 .card-action {
  padding: 16px 0px;
}

.card-reveal2 .card-action {
  padding: 16px 0px;
}

.card-reveal3 .card-action {
  padding: 16px 0px;
}

.card-reveal4 .card-action {
  padding: 16px 0px;
}

.card-reveal5 .card-action {
  padding: 16px 0px;
}

.card-reveal .card-action {
  padding: 16px 0px;
}

.circle-list {
  list-style-type:circle
}

h1.header-1 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

p.header-2 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}

h2.section-title {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}

h3.card-title {
  line-height: 100%;
  margin: 0 0 8px 0;
  font-size: 24px;
  font-weight: 300;
}

h4.card-title {
  line-height: 100%;
  margin: 8px 0 8px 0;
  font-size: 24px;
  font-weight: 300;
}

nav i.bi {
  display: block;
  font-size: 24px !important;
}

nav .brand-logo i.bi {
  float: left;
  margin-right: 15px;
}

nav ul a.btn > .bi, nav ul a.btn-large > .bi, nav ul a.btn-small > .bi, nav ul a.btn-large > .bi, nav ul a.btn-flat > .bi, nav ul a.btn-floating > .bi {
  height: inherit;
  line-height: inherit;
}

.input-field input[type=search]:focus:not(.browser-default) ~ .bi {
  color: #444;
}

.input-field input[type=search] ~ .bi {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.sidenav li > a > i.bi {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 2.5px;
  padding-bottom: -2.5px;
}

.btn i.bi, .btn-large i.bi, .btn-small i.bi,
.btn-small i.bi,
.btn-flat i.bi {
  padding-top: 2px;
  padding-bottom: -2px;
}

.btn-large i.bi {
  padding-top: 0px;
}

.collapsible-header i.bi {
  font-size: 6px;
  padding-top: 2.25px;
  padding-bottom: -2.25px;
  height: 22px;
}

.chip i.bi {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: -2px;
}

.collection-item div a i.bi{
  font-size: 24px;
}

.collection .collection-item.avatar i.circle {
  padding-top: 2px;
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle,
.collection .collection-item.avatar :not(.circle-clipper) > .circle {
  left: 0px;
}

.collection .collection-item.avatar {
  padding-left: 52px;
  padding-right: 0px;
}

table.table-with-margin tr td {
  padding-left: 15px;
}

ul.disc-list {
  list-style-type: disc;
  padding-inline-start: 30px;
}

ul.disc-list > li {
  list-style-type: disc;
}

nav ul button.btn, nav ul button.btn-large, nav ul button.btn-small, nav ul button.btn-large, nav ul button.btn-flat, nav ul button.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}

nav ul button.btn > .material-icons, nav ul button.btn-large > .material-icons, nav ul button.btn-small > .material-icons, nav ul button.btn-large > .material-icons, nav ul button.btn-flat > .material-icons, nav ul button.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}

.fixed-action-btn ul button.btn-floating {
  opacity: 0;
}

.sidenav li > button.btn, .sidenav li > button.btn-large, .sidenav li > button.btn-small, .sidenav li > button.btn-large, .sidenav li > button.btn-flat, .sidenav li > button.btn-floating {
  margin: 10px 15px;
}
.sidenav li > button.btn-floating:hover {
  background-color: #26a69a;
}

@media only screen and (min-width: 993px) {
  nav button.sidenav-trigger {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav button.sidenav-trigger, nav button.sidenav-trigger i {
    height: 64px;
    line-height: 64px;
  }
}

button.sidenav-trigger {
  background-color: transparent;
  border-style: none;
  color: white;
  margin: 0 18;
  padding: 0;
}

ul.footer-links li {
  padding: 6px 0 !important;
}

ul.footer-links li a {
  padding: 4px 0 !important;
}

h2.footer-title {
  color: white;
  font-size: 24.6px;
}

.page-footer {
  padding-top: 50px;
}

h3.footer-subtitle {
  font-size: 24.6px;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}