---
layout: page-layout
tabTitle: 'Drehbuch-Wettbewerb - E.L.F. e.V.'
title: 'Drehbuch-Wettbewerb'
secondaryTitle: 'Deine Idee wird zum Film!'
description: 'Reiche ein Drehbuch mit deiner Idee beim Wettbewerb ein und wenn es gewinnt, wird es verfilmt!'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-filmklappe.jpg',
  'altText' => 'Drehbuch-Workshop: Dein Drehbuch wird verfilmt!',
  'style' => 'max-width: 1000px; margin-top: -300px;'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => ''
}) do %>

  <div class="col s12 m12 l6">
  
    <p>
      Hey, ihr kreativen Köpfe! Du wolltest schon immer, dass deine Filmidee verfilmt wird? Dann hast du jetzt die Chance, deinen Gedanken freien Lauf zu lassen und einen Pitch für ein Drehbuch zu schreiben. Reiche deine Idee bis zum 11. März bei uns ein. Wenn du gewinnst, wird sie ausgearbeitet und auf unserer diesjährigen Filmfahrt mit anderen Jugendlichen verfilmt! Also, ran an die Tasten, und los geht's!<br><br>
      Einreichungen sind nicht mehr möglich!
    </p>

  </div>

  <% partial('layouts/components/card', :locals => { 
      'cardTitle' => "",
      'cardId' => 'aktuelle-links',
      'imageFile' => '',
      'altText' => '',
      'smlWidth' => [12, 12, 6],
      'cardAction' => [],
      'stickyAction' => 'false',
      'onlyImageCardDescription' => '',
      'reveals' => [],
      'contentPosition' => 'before',
      'cardActionReveal1' => [],
      'cardActionReveal2' => [],
      'cardActionReveal3' => []
    }) do %>
      <ul class="collapsible expandable no-top-line" style="margin: -24px">
        <li>
          <a href="#infos"><div class="collapsible-header nodec first"><i class="bi bi-info-circle red-d1-text"></i>Informationen<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <li>
          <a href="#teilnahmebedingungen"><div class="collapsible-header nodec"><i class="bi bi-file-text indigo-text"></i>Teilnahmebedingungen<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <li>
          <a href="#einreichung"><div class="collapsible-header nodec"><i class="bi bi-pen teal-text"></i>Einreichung<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <li>
          <a href="#jury"><div class="collapsible-header nodec"><i class="bi bi-people red-d1-text"></i>Jury<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <li>
          <a href="#tipps"><div class="collapsible-header nodec last"><i class="bi bi-lightbulb indigo-text"></i>Hilfreiche Tipps<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
      </ul>
    <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Informationen',
  'sectionId' => 'infos',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Rahmendaten",
    'cardId' => 'rahmendaten',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <b>Einreichungsfrist:</b> 11. März<br>
    <b>Anmeldung:</b> Formular und Einreichung per E-Mail<br>
    Es geht um die Idee, nicht um ein fertiges Drehbuch
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Der Gewinn",
    'cardId' => 'gewinn',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Die Gewinner-Idee wird auf unserer Filmfahrt 2023 mit einer Crew aus Jugendlichen verfilmt. Du musst nicht an der Fahrt und dem Dreh teilnehmen, wir halten dir aber bis zur Anmeldefrist der Fahrt einen Platz frei, falls du mitkommen willst! Vor der Fahrt arbeiten wir zusammen mit dir und den Schauspielern die Idee aus, damit für die Fahrt alles vorbereitet ist.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Teilnahmebedingungen',
  'sectionId' => 'teilnahmebedingungen',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Teilnahmebedingungen",
    'cardId' => 'karte-teilnahmebedingungen',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Teilnehmen können Jugendliche zwischen 12 und 16 Jahren aus Bremen und direkt angrenzenden Orten wie z.B. Schwanewede. Wenn dein Wohnort nicht direkt an Bremen Angrenzt, du von dort aber das Gustav-Heinemann-Bürgerhaus in Vegesack gut erreichen kannst, wäre das auch ok. Ein Maximal-Richtwert sind etwa 15km Entfernung. Es geht uns darum, dass du mit uns die Idee dann auch zuende ausarbeiten kannst, wenn du gewinnst. Wenn du dir unsicher bist kannst du uns eine Mail schreiben.
    <br><br>
    Jeder Jugendliche kann maximal zwei Ideen einreichen. Wir empfehlen dir aber, dich auf eine Idee zu konzentrieren.
    <br><br>
    Mit Einreichung der Idee versicherst du uns, dass die Idee von dir stammt oder dir erlaubt wurde, die Idee von jemand anderem auszuarbeiten.
    <br><br>
    Außerdem erlaubst du uns, die Idee für unsere Filmfahrt 2023 zusammen mit dir zu einem Drehbuch zu verarbeiten, wenn deine Idee den Wettbewerb gewinnt. Das Ziel ist die Verfilmung der Idee. Solltest du dich bei der Ausarbeitung nicht einbringen, erlaubst du uns, die Idee ohne dich weiterzuentwickeln, zu verändern und zu verfilmen.
    <br><br>
    Wir können nicht garantieren, dass die Verfilmung (dieses Jahr) stattfindet. Wenn es zum Beispiel zu wenige Anmeldungen für die Fahrt oder Probleme mit der Unterkunft geben sollte, können wir nicht drehen. Aber wir geben unser bestes und bisher hat auch immer alles bei unseren Filmfahrten geklappt!
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Einreichung',
  'sectionId' => 'einreichung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "So sieht eine Einreichung aus",
    'cardId' => 'aussehen-einreichung',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wir wollen noch <u>kein ganzes Drehbuch</u> von dir haben. Die Gewinner-Idee wird zusammen mit unserer Unterstützung zu einem Drehbuch ausgearbeitet. So stellen wir sicher, dass das Drehbuch auch verfilmt werden kann.
    <br><br>
    <b>Folgendes musst du einreichen:</b>
    <br><br>
    Ein <u>Exposé</u> bestehend aus
    <ul class="disc-list" style="margin-top: 0px">
      <li>Einer Rollenübersicht.<br>Beschreibe jede wichtige Rolle kurz in 1-3 Sätzen.</li>
      <li>Einer Zusammenfassung deiner Idee<br>Erkläre die wichtigsten Handlungen in maximal 1-2 Seiten. Das geht auch stichpunktartig. </li>
    </ul>
    Eine <u>Beispielszene</u>
    <br>
    <ul class="disc-list" style="margin-top: 0px">
      <li>Es muss nicht genau eine Szene sein, wir würden gerne in 1-3 Drehbuchseiten einen Eindruck bekommen, wie du die Geschichte erzählen möchtest. </li>
    </ul>
    Dein Exposé und deine Beispielszene sollten also zusammen etwa 3-6 Seiten lang sein.
    <br><br>
    <hr>
    <br>
    <b class="card-title">So reichst du deine Idee ein</b>
    <ol class="disc-list" style="margin-top: 0px">
      <li>Fülle folgendes Formular aus: Link nicht mehr verfügbar, weil keine Einreichungen mehr möglich sind.</li>
      <li>Sende dein Exposé und deine Beispielszene in einer PDF-Datei an <a href="mailto:&#x77;&#x65;&#116;&#x74;&#x62;&#101;&#x77;&#x65;&#114;&#98;&#x40;&#x65;&#108;&#102;&#45;&#x65;&#118;&#x2e;&#x64;&#x65;" target="_blank" class="red-d1-text">&#x77;&#x65;&#116;&#x74;&#x62;&#101;&#x77;&#x65;&#114;&#98;&#x40;&#x65;&#108;&#102;&#45;&#x65;&#118;&#x2e;&#x64;&#x65;</a></li>
      <li>Wir versuchen dir eine Eingangsbestätigung zu senden, wenn wir überprüft haben, ob wir alles nötige von dir haben. Da wir ehrenamtlich arbeiten, kann das auch etwas länger dauern.</li>
    </ol>
    <b>Fristen</b><br>
    Alle Einreichungen, also das Formular und die PDF-Datei, müssen bis spätestens Samstag, den <u>11. März 2023 um 23:59</u> abgeschickt werden.<br><br>
    <b>Einreichungen sind nicht mehr möglich!</b>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Das darf in deiner Geschichte vorkommen",
    'cardId' => 'das-darf-vorkommen',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Damit wir deine Idee wirklich umsetzen können, müssen wir ein paar Beschränkungen festlegen. 
    <br><br>
    <b>Drehort</b>
    <ul class="disc-list" style="margin-top: 0px">
      <li>Wir können nicht an zu vielen verschiedenen Orten drehen.</li>
      <li>Konkret werden wir in einem Selbstversorgerhaus wohnen, können also dort Schlafzimmer, Küche, Terrasse usw. als Drehort nutzen. </li>
      <li>Das Haus steht in 26506 Norddeich, wir können also in dem Ort selbst drehen, auf den Straßen oder im Park.</li>
      <li>Mit genug Vorlauf kann man lokale Geschäfte fragen, ob man einen Tag dort drehen kann, das sollte aber nicht zwingend nötig sein.</li> 
      <li>Wir können ggf. einen Tag am Strand drehen, das ist durch den Sand jedoch für die Technik deutlich aufwendiger und man kann auch nicht einfach Leute beim Baden aufnehmen, selbst wenn es nur im Hintergrund ist. Eine kleinere Szene ist am Strand vorstellbar, wahrscheinlich würde sich aber zum Beispiel der Deich besser eignen.</li>
    </ul>
    <b>Umfang</b>
    <ul class="disc-list" style="margin-top: 0px">
      <li>Deine Geschichte muss in maximal 20 Minuten erzählt werden können, meistens sind die kürzeren Kurzfilme sowieso die interessantesten.</li>
    </ul>
    <b>Thema</b>
    <ul class="disc-list" style="margin-top: 0px">
      <li>Versuche, dich in deiner Idee mit einem altersgerechten Thema auseinanderzusetzen. Achte darauf, dass es nicht gewaltverherrlichend ist oder mit sensiblen Themen wie Krankheiten oder Mobbing unbedacht umgegangen wird. Der Film sollte von Jugendlichen für Jugendliche ab 11 Jahren adressiert sein.</li>
    </ul>
    <b>Darsteller</b>
    <ul class="disc-list" style="margin-top: 0px">
      <li>In dem Film sollten hauptsächlich Jugendliche vorkommen, da sie auch von Jugendlichen gespielt werden.</li>
      <li>Eventuell können 1-2 Erwachsene von den Teamern auf der Fahrt gespielt werden. Es sollte aber für deine Geschichte nicht so wichtig sein, wie alt genau die Erwachsenen sind oder ob es ein Mann oder eine Frau ist.</li>
    </ul>
    <b>Effekte</b>
    <ul class="disc-list" style="margin-top: 0px">
      <li>Aufwendige Effekte sind nicht möglich. </li>
      <li>Überlege, ob deine Geschichte Effekte benötigt, die am Computer hinzugefügt werden müssen. </li>
      <li>Kleinere Effekte, zum Beispiel wenn mal etwas aufleuchten, ein Feuer eingeblendet oder ein Vollmond am Himmel hinzugefügt werden soll, sind beispielsweise möglich.</li>
      <li>Greenscreen, also das Einsetzen von Objekten und Personen in andere Umgebungen, lässt sich meist schwierig wirklich gut integrieren, wenn es sich aber nur um wenige Einstellungen handelt, kann auch das möglich sein. </li>
      <li>Wenn du dir unsicher bist und ein Effekt wichtig für deine Geschichte wäre, frage uns am besten vorab per E-Mail (<a href="mailto:&#x77;&#x65;&#116;&#x74;&#x62;&#101;&#x77;&#x65;&#114;&#98;&#x40;&#x65;&#108;&#102;&#45;&#x65;&#118;&#x2e;&#x64;&#x65;" target="_blank" class="red-d1-text">&#x77;&#x65;&#116;&#x74;&#x62;&#101;&#x77;&#x65;&#114;&#98;&#x40;&#x65;&#108;&#102;&#45;&#x65;&#118;&#x2e;&#x64;&#x65;</a>).</li>
    </ul>
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Die Jury',
  'sectionId' => 'jury',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Ronja Jürgens",
    'cardId' => 'ronja',
    'imageFile' => 'card-ronja.jpg',
    'altText' => '',
    'smlWidth' => [12, 12, 4],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <i>Teamerin und 1. Vorsitzende</i>
    <br><br>
    Ronja ist seit 2014 Mitglied und hat schon viele unserer Projekte begleitet. Sie studiert Audiovisuelle Medien und wird vor allem die zeitliche und technische Umsetzbarkeit als Kurzfilm bewerten.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Frank Schünhof",
    'cardId' => 'frank',
    'imageFile' => 'card-frank.jpg',
    'altText' => '',
    'smlWidth' => [12, 12, 4],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <i>Teamer, Medienpädagoge und Beisitzer</i>
    <br><br>
    Frank kennt sich mit verschiedenen Erzählstrukturen aus. Ihm ist wichtig, dass die Geschichte in sich glaubwürdig ist und die Charaktere mit unterschiedlichen Merkmalen ausgearbeitet werden.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Sophia Matheus",
    'cardId' => 'sophia',
    'imageFile' => 'card-sophia.jpg',
    'altText' => 'Sophia Matheus',
    'smlWidth' => [12, 12, 4],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <i>Teamerin</i>
    <br><br>
    Mit Sophia gehört auch eine Jugendliche zu unserer Jury. Sie schreibt selber gerne Geschichten und möchte später mal Regisseurin werden.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Hilfreiche Tipps',
  'sectionId' => 'tipps',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "",
    'cardId' => 'tipps-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <ul class="collapsible expandable no-top-line" style="margin: -24px">
      <li>
        <a href="#frage1" class="modal-trigger"><div class="collapsible-header nodec first">Darf ich auch teilnehmen, wenn ich erst 12 werde oder bald 17 werde?<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="#frage2" class="modal-trigger"><div class="collapsible-header nodec">Dürfen mir andere helfen?<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="#frage3" class="modal-trigger"><div class="collapsible-header nodec">Darf man in einer Gruppe teilnehmen? <i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="#frage4" class="modal-trigger"><div class="collapsible-header nodec">Woher weiß ich, dass meine Idee in einen Kurzfilm passt?<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="#frage5" class="modal-trigger"><div class="collapsible-header nodec">Wie schreibt man ein Exposé?<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="#frage6" class="modal-trigger"><div class="collapsible-header nodec">Wie schreibe ich eine Drehbuchszene?<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="#frage7" class="modal-trigger"><div class="collapsible-header nodec">Wie formatiere ich eine Drehbuchszene?<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
      <li>
        <a href="#frage8" class="modal-trigger"><div class="collapsible-header nodec last">Kann ich, wenn ich gewinne, trotzdem eine Rolle im Film spielen?<i class="bi bi-chevron-right grey-text right"></i></div></a>
      </li>
    </ul>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Kontakt",
    'cardId' => 'kontakt',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Bei Fragen kannst du dich an <a href="mailto:wettbewerb@elf-ev.de" target="_blank" class="red-d1-text">wettbewerb@elf-ev.de</a> wenden.
  <% end %>

<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'frage1', 
  'title' => 'Darf ich auch teilnehmen, wenn ich erst 12 werde oder bald 17 werde?',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  <ul class="disc-list">
    <li>Ja, wenn du jünger bist, solltest du während der Sommerferien 12 werden. </li>
    <li>Wenn du älter bist, solltest du bei Abgabe deiner Einreichung noch 16 Jahre alt sein.</li>
  </ul>  
<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'frage2', 
  'title' => 'Dürfen mir andere helfen?',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  Die Idee sollte von dir ausgearbeitet werden. Ein wichtiger Teil davon kann aber auch Feedback sein. Du darfst dir also gerne von jedem Feedback einholen und einarbeiten. Wichtig ist, dass du alles, was du einreichst, selbst schreibst.
<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'frage3', 
  'title' => 'Darf man in einer Gruppe teilnehmen?',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  Das geht leider nicht, da wir nur für einen Gewinner einen Platz auf der Fahrt freihalten können. Ihr könnt euch aber natürlich austauschen und gegenseitig Feedback geben.
<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'frage4', 
  'title' => 'Woher weiß ich, dass meine Idee in einen Kurzfilm passt?',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  Es gibt keine festen Regeln dafür, welche Ideen sich für Kurzfilme eignen. Aber hier sind ein paar Anhaltspunkte:
  <ul class="disc-list">
    <li><strong>Länge:</strong> Kurzfilme haben in der Regel eine Länge von maximal 30 Minuten. Für den Wettbewerb sollte die Filmidee für maximal 20 Minuten angelegt sein. Wenn deine Idee zu komplex oder zu lang ist, um in diesem Zeitrahmen erzählt zu werden, ist sie nicht geeignet. Wenn du dein Drehbuch z. B. mit einem Drehbuch-Schreibprogramm wie Studiobinder schreibst, wird es so formatiert, dass eine Drehbuchseite ungefähr einer Minute im Film entspricht.</li>
    <li><strong>Einzelne Situation:</strong> Kurzfilme konzentrieren sich oft auf eine einzelne Situation, einen Moment oder ein Ereignis. Deine Idee sollte also eine klare Situation oder ein Ereignis haben, auf das sich der Kurzfilm konzentrieren kann.</li>
    <li><strong>Einfache Erzählstruktur:</strong> Kurzfilme haben oft eine einfache Erzählstruktur und beschränken sich auf wenige Charaktere und Schauplätze. Wenn deine Idee zu viele Charaktere oder Schauplätze hat, kann es schwierig sein, eine zusammenhängende Geschichte zu erzählen.</li>
    <li><strong>Pointe:</strong> Kurzfilme sind oft humorvoll oder überraschend. Wenn deine Idee eine Pointe oder ein unerwartetes Ende hat, kann das die Eignung für einen Kurzfilm erhöhen.</li>
    <li><strong>Visualität:</strong> Kurzfilme sind in der Regel sehr visuell, mit starken Bildern und Symbolen. Wenn deine Idee eine starke visuelle Komponente hat oder auf visuellen Kontrasten und Ähnlichkeiten beruht, kann das die Eignung für einen Kurzfilm erhöhen.</li>
    <li><strong>Realisierbarkeit:</strong> Überlege dir, ob deine Idee mit einfachen Mitteln filmisch umgesetzt werden kann, oder ob es dazu aufwendige visuelle Effekte benötigt, die wir im Verein nicht umsetzen können. Ein riesiges Monster, das durch eine Stadt läuft, ist beispielsweise nicht möglich.</li>
  </ul> 
  Diese Überlegungen können helfen, die Eignung deiner Idee für einen Kurzfilm zu bewerten. Es gibt jedoch viele erfolgreiche Kurzfilme, die gegen diese "Regeln" verstoßen, und letztendlich hängt es von der Qualität und Originalität deiner Idee ab.
<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'frage5', 
  'title' => 'Wie schreibt man ein Exposé?',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  Ein Exposé ist eine kurze Zusammenfassung deiner Geschichte oder deines Projekts. Es soll Lesern oder Zuschauern einen Überblick über die Handlung, die Charaktere und den Stil geben. Hier sind einige Schritte, die dir helfen können, ein Exposé zu schreiben:
  <ul class="disc-list">
    <li><strong>Starte mit einer prägnanten Zusammenfassung:</strong> Beginne dein Exposé mit einer kurzen Zusammenfassung deiner Geschichte in einem oder zwei Sätzen (Logline). Es soll in der Regel das &quot;Wer&quot;, &quot;Was&quot;, &quot;Wann&quot; und &quot;Wo&quot; der Geschichte enthalten.</li>
    <li><strong>Beschreibe deine Charaktere (Rollenbeschreibung):</strong> Führe die wichtigsten Charaktere deiner Geschichte ein und beschreibe ihre Persönlichkeiten und Ziele. Dies sollte in einigen klaren, prägnanten Sätzen erfolgen, die den Leser dazu bringen, sich für die Charaktere und ihre Reise zu interessieren.</li>
    <li><strong>Erzähle die Handlung:</strong> Beschreibe den Ablauf der Geschichte, beginnend mit der Einleitung und dem Konflikt bis hin zum Höhepunkt und der Lösung. Fasse die wichtigsten Wendepunkte in wenigen Sätzen zusammen und fokussiere dich auf die wichtigsten Elemente der Handlung.</li>
    <li><strong>Beschreibe den Stil und die Atmosphäre:</strong> Gib dem Leser einen Einblick in den Stil deiner Geschichte, indem du Details über die Atmosphäre, den Ton und den Stil der Geschichte beschreibst. Beschreibe, ob es sich um eine Komödie, ein Drama oder einen Thriller handelt und ob es in einer bestimmten Epoche oder Umgebung spielt.</li>
  </ul> 
  Denke daran, dass ein Exposé knapp und prägnant sein sollte und nur die wichtigsten Elemente deiner Geschichte hervorheben sollte. Es sollte den Leser oder Zuschauer neugierig auf deine Arbeit machen und sie dazu anregen, mehr zu erfahren.
<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'frage6', 
  'title' => 'Wie schreibe ich eine Drehbuchszene?',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  <ol class="disc-list">
    <li>Bestimme die Absicht der Szene: Jede Szene sollte eine klare Absicht haben, ob es darum geht, die Handlung voranzutreiben, Charaktereigenschaften zu etablieren oder Konflikte zu erzeugen. Überlege dir im Voraus, was du mit deiner Szene erreichen willst, bevor du sie schreibst.</li>
    <li>Bestimme den Schauplatz und die Charaktere: Bestimme den Schauplatz und die Charaktere, die in der Szene vorkommen werden. Eine klare Vorstellung davon, wer in der Szene präsent sein wird und wo sie stattfindet, kann dir helfen, dich auf das Wesentliche zu konzentrieren und die Szene effektiv zu gestalten.</li>
    <li>Schreibe eine Einleitung: Führe die Szene mit einer kurzen Beschreibung des Schauplatzes und einer Erklärung dessen, was gerade passiert, ein. Dies kann auch eine kurze Beschreibung der Charaktere und ihrer Gefühle beinhalten, um dem Leser ein Gefühl für die Stimmung der Szene zu geben.</li>
    <li>Beschreibe die Handlung: Beschreibe die Handlung der Szene durch die Aktionen der Charaktere und ihre Dialoge. Es ist wichtig, dass der Leser oder Zuschauer versteht, was in der Szene passiert und wer was tut. Hier sind einige Tipps, die du beim Schreiben einer Szene beachten solltest:
      <ul class="disc-list">
        <li>Schreibe in der Gegenwartsform, um die Handlung der Szene lebendiger zu gestalten.</li>
        <li>Vermeide lange Dialogblöcke, da dies den Fluss der Szene beeinträchtigen kann.</li>
        <li>Nutze Beschreibungen und Handlungen der Charaktere, um ihre Persönlichkeiten und Emotionen zu etablieren.</li>
      </ul>
    </li>
    <li>Überarbeite und verbessere deine Szene: Gehe deine Szene noch einmal durch, um sicherzustellen, dass sie flüssig und klar ist und dass sie ihre Absicht erfüllt. Verfeinere die Dialoge und die Handlungen der Charaktere, um sicherzustellen, dass sie der Geschichte und der Vision deiner Geschichte entsprechen.</li>
    </ol>
  Denke daran, dass jede Szene in einem Drehbuch eine klare Absicht haben sollte und dazu beitragen sollte, die Handlung voranzutreiben und die Charaktere zu entwickeln.
<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'frage7', 
  'title' => 'Wie formatiere ich eine Drehbuchszene?',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  Um eine Drehbuchszene zu schreiben, bietet es sich an, ein Programm zum Schreiben von Drehbüchern zu verwenden. Dafür empfehlen wir Studiobinder, weil es kostenlos am Computer genutzt werden kann. Dort kannst du auswählen, welchen Bestandteil der Szene du schreiben möchtest und dieser wird dann dementsprechend formatiert.
  <br><br>
  Auf dieser Seite findest du eine Übersicht, wie ein Drehbuch formatiert wird: <a href="https://www.socreate.it/de/blogbeitr%C3%A4ge/drehbuchschreiben/die-grundlagen-der-drehbuchformatierung" target="_blank" class="red-d1-text">https://www.socreate.it/de/blogbeitr%C3%A4ge/drehbuchschreiben/die-grundlagen-der-drehbuchformatierung</a>
  <br><br>
  Alternativ kannst du dein Drehbuch auch handschriftlich schreiben, sofern die Struktur und Übersicht dort auch erkennbar ist, es muss aber nicht perfekt wie in dem Beispiel sein. Es geht hauptsächlich um die Idee und nicht um das Format.
<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'frage8', 
  'title' => 'Kann ich, wenn ich gewinne, trotzdem eine Rolle im Film spielen?',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  Ja, du kannst so wie auch die anderen Teilnehmer sagen, ob du am liebsten schauspielen oder eine technische Position übernehmen möchtest und wir teilen alle dann so auf, dass es möglichst gut passt. Auch wenn du nicht gewinnst, kannst du dich trotzdem beim Casting anmelden und ggf. auf die Fahrt mitkommen.
<% end %>