---
layout: page-layout
tabTitle: 'Drehbuch-Workshop - E.L.F. e.V.'
title: 'Drehbuch-Workshop 2023'
secondaryTitle: 'Lerne wie du deine Idee zum Leben erweckst!'
description: ''
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-drehbuch-jugendliche.jpg',
  'altText' => 'Drehbuch-Workshop: Lerne, wie du ein Drehbuch schreibst',
  'style' => 'max-width: 1000px; margin-top: -300px;'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => 'narrow-text'
}) do %>

  <p>
    Zur Vorbereitung auf unseren Drehbuchwettbewerb und für alle Jugendlichen, die sich einfach so dafür interessieren, veranstalten wir einen Drehbuchworkshop in Bremen Vegesack.
    <br><br>
    Dort lernst du unter anderem, wie du eigentlich zu einer Idee kommst, was die berühmte Heldenreise ist und mit welchen Tools du am besten dein Drehbuch zu Papier bringst. Wir geben auch hilfreiche Tipps zur Wettbewerbsteilnahme, zum Beispiel, wie ein Exposé aufgebaut ist.
  </p>

  <%= partial('layouts/components/button', :locals => {
    'btnText' => 'Anmelden per E-Mail',
    'btnLink' => 'mailto:info@elf-ev.de?subject=Drehbuch-Workshop%202023',
    'btnLinkInNewTab' => true,
    'btnType' => 'large',
    'btnIcon' => 'envelope-plus',
    'btnPosition' => 'center'
  })%>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'infos',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Für wen ist der Workshop?",
    'cardId' => 'fuer-wen-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 4],
    'cardAction' => [],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Für Jugendliche zwischen 12 und 16 Jahren, die ihre ersten eigenen Kurzfilm-Drehbücher schreiben oder sich mit Hintergrundwissen und Kreativtechniken verbessern wollen.
  <% end %>

    <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Anmeldung",
    'cardId' => 'anmeledung-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 4],
    'cardAction' => [],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Melde dich unter info@elf-ev.de mit deinem Namen und Alter zum Workshop an. Die Teilnahme ist kostenlos. Wir bestätigen deine Teilnahme, sofern noch Plätze verfügbar sind.
  <% end %>

<% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Rahmendaten",
    'cardId' => 'daten-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 4],
    'cardAction' => [],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <ul>
      <li><b>Datum:</b> 18.02.2023</li>
      <li><b>Uhrzeit:</b> 10:00 - 14:00 Uhr</li>
      <li><b>Adresse:</b> Gustav-Heinemann Bürgerhaus, Kirchheide 49, 28757 Bremen</li>
      <li><b>Raum:</b> E.01 (Dieses Video zeigt dir den Weg: <a href="https://youtu.be/7ex4IsdfON8" target="_blank">Video</a>)</li>
    </ul>
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Drehbuch-Wettbewerb',
  'sectionId' => 'wettbewerb',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

<% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Deine Idee wird zum Film!",
    'cardId' => 'wettbewerb-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <p>Reiche deine Kurzfilm-Idee bei unserem Drehbuchwettbewerb ein und gewinne die Verfilmung bei der diesjährigen Filmfahrt. Das ist deine Chance deine Idee auf die Leinwand zu bringen! Weitere Infos folgen mitte Februar, schau dann einfach nochmal hier vorbei.</p>
  <% end %>

<% end %>