---
layout: page-layout
tabTitle: 'ENTER! Overbeck-Museum - E.L.F. e.V.'
title: 'ENTER! Overbeck-Museum'
secondaryTitle: 'Filmbeitrag als Reporter oder Crew'
description: 'Jugendliche erstellen im Rahmen des ENTER! Museum Projekts einen Filmbeitrag über das Overbeck-Museum.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-overbeck-header.jpg',
  'altText' => 'Dreharbeiten im Wald bei der Filmfahrt 2019',
  'style' => 'max-width: 1000px; margin-top: -300px;'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => 'narrow-text center'
}) do %>

  <p class="justify">
    Als Mediengruppe berichten wir im Mai und Juni im Rahmen des ENTER!Museum Projekts über das Overbeck-Museum. Melde dich jetzt als Reporter und/oder Crew hinter der Kamera an. Keine Vorerfahrung nötig.
  </p>

  <%= partial('layouts/components/button', :locals => {
    'btnText' => 'Fertiges Projekt ansehen*',
    'btnLink' => 'http://www.enter-museum.de/',
    'btnLinkInNewTab' => true,
    'btnType' => 'large',
    'btnIcon' => 'play-circle',
    'btnPosition' => 'center'
  })%>
<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Infos zum Projekt',
  'sectionId' => 'infos',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <p class="container">
    "ENTER!Overbeck-Museum" ist ein Teilprojekt des übergeordneten Projekts "<a class="red-d1-text" href="http://www.enter-museum.de">ENTER!MUSEUM</a>". Die Idee hinter dem Projekt ist die Entwicklung digitaler Museumsrundgänge von Kindern/Jugendlichen für Kinder/Jugendliche. Diese digitalen Rundgänge zeigen kreative Ansätze, sich Museums-Exponaten zu nähern sowohl analog als auch digital. Die Kinder kommen aus verschiedenen sozialen Einrichtungen und werden von professionellen Künstler*innen angeleitet. "ENTER!MUSEUM" gliedert sich in 3 Teilprojekte, in Kooperation mit verschiedenen Bremer Museen, für die jeweils ein Museumsrundgang entwickelt wird:
    <br><br>
    Herbst 2021: Weserburg Museum für moderne Kunst (Ergebnisse bereits online)<br>
    April-Juli 2022: Overbeck-Museum<br>
    Herbst 2022: Focke Museum<br>
    An jedem Durchlauf nehmen andere Stadtteile und soziale Einrichtungen teil. Alle Prozesse und Ergebnisse werden am Ende digital präsentiert unter: <a class="red-d1-text" href="https://www.enter-museum.de"></a>www.enter-museum.de
    <br><br>
    Unser Part: Neben den Gruppen, die von Künstlerinnen angeleitet werden, ist bei jedem Projektdurchlauf eine Mediengruppe beteiligt. Diese Mediengruppe soll ein bisschen wie "rasende Reporterinnen" sein und sich mit dem Museum im Allgemeinen befassen. Also z.B. Interviews mit Menschen vor Ort führen, Video- und Tonaufnahmen machen. Die Ergebnisse dieser Gruppe werden ebenfalls im digitalen Museumsrundgang "ENTER! OVERBECK-MUSEUM" auftauchen.
    <br><br>
    Die Rahmenbedingungen: Die Arbeit der Mediengruppe würde im gleichen Zeitraum stattfinden, in dem auch die anderen Gruppen arbeiten (ca. Ende April-Ende Juni) und insgesamt ca. 10 Stunden (z.B. an 3 Tagen) umfassen. Wir arbeiten bei der digitalen Projektumsetzung mit der Medienagentur "vomhörensehen" zusammen. Die Agentur würde uns als Mediengruppe auch einen Workshop anbieten. Ansonsten würde es zum Überblick noch eine Führung im Overbeck-Museum geben. Die restlichen Stunden nutzen wir eigenständig, um Inhalte zu produzieren. 
    <br><br>
    Dazu zählt, dass wir lernen wie man gute Moderationen und Interviews durchführt, wie man Kameras, Mikrofone, Licht und mehr bedient und wie man einen Beitrag bzw. Film gut erzählen kann. Das geschieht bei einem Treffen zur Drehvorbereitung und anwenden tun wir dies an einem weiteren Termin beim Dreh. Zum Schluss schneiden wir die Aufnahmen bei einem letzten Termin zusammen und erlernen dabei die Grundlagen und ggf. fortgeschrittenes Wissen in professionellen Schnittprogrammen.
    <br><br>
    Wir freuen uns sehr, wenn du Lust hast, beim Projekt mitzumachen! Melde dich einfach per Mail an, indem du den Button klickst!
    <br><br>
    <i>Ansprechpartner für dieses Projekt sind unsere Teamer und Vorstandsmitglieder Katja Schneider (katja.schneider@elf-ev.de) und Marc Diercksen (marc.diercksen@elf-ev.de). Bei Fragen kannst du dich bei info@elf-ev.de melden.</i>
  </p>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Ergebnis',
  'sectionId' => 'ergebnis',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => 'narrow-text center'
}) do %>

  <p class="justify container">Hier kannst du dir das fertige Produkt des Projektes ansehen. Es handelt sich um eine interaktive Website, auf der du das Overbeck-Museum, sowie zwei weitere Museen erkunden kannst.<br><br></p>

  <%= partial('layouts/components/button', :locals => {
    'btnText' => 'Fertiges Projekt ansehen*',
    'btnLink' => 'http://www.enter-museum.de/',
    'btnLinkInNewTab' => true,
    'btnType' => 'large',
    'btnIcon' => 'play-circle',
    'btnPosition' => 'center'
  })%>
<% end %>