---
layout: page-layout
tabTitle: 'Film- & Mediencamp 2025 - E.L.F. e.V.'
title: 'Film- & Mediencamp 2025'
secondaryTitle: 'Tauche ein in die Welt der Medien!'
description: 'Beim E.L.F. Film- & Mediencamp vom 21.– 25. Juli 2025 drehen wir einen Kurzfilm und setzen kreative Medienprojekte um – von Film über Fotografie bis Social Media.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-filmklappe-filmfahrt23.jpg',
  'altText' => '',
  'style' => 'max-width: 1000px; padding-top:80px'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => ''
}) do %>

  <div class="col s12 m12 l6">
  
    <p>
      Beim E.L.F. Film- & Mediencamp vom 21.– 25. Juli 2025 drehen wir einen Kurzfilm und setzen kreative Medienprojekte um – von Film über Fotografie bis Social Media. Hier lernst du andere medienbegeisterte Jugendliche kennen, mit denen du gemeinsam deine Ideen kreativ umsetzen kannst. Dabei werdet ihr von unseren Teamern unterstützt, die teilweise sogar in der Medienbranche arbeiten.<br>
      In der Freizeit habt ihr genug Raum, um euch noch besser kennenzulernen und wer weiß, vielleicht habt ihr schon weitere Ideen für gemeinsame Projekte nach der Fahrt.
    </p>


    <%= partial('layouts/components/button', :locals => {
      'btnText' => 'Zur Anmeldung',
      'btnLink' => '#anmeldung',
      'btnLinkInNewTab' => false,
      'btnType' => 'large',
      'btnIcon' => 'arrowRight',
      'btnPosition' => 'center'
    })%>


  </div>


  <% partial('layouts/components/card', :locals => { 
      'cardTitle' => "",
      'cardId' => 'inhalt',
      'imageFile' => '',
      'altText' => '',
      'smlWidth' => [12, 12, 12],
      'cardAction' => [],
      'stickyAction' => 'false',
      'onlyImageCardDescription' => '',
      'reveals' => [],
      'contentPosition' => 'before',
      'cardActionReveal1' => [],
      'cardActionReveal2' => [],
      'cardActionReveal3' => []
    }) do %>
      <ul class="collapsible expandable no-top-line" style="margin: -24px">
        <li>
          <a href="#infos"><div class="collapsible-header nodec first"><i class="bi bi-info-circle red-d1-text"></i>Informationen<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <li>
          <a href="#anmeldung"><div class="collapsible-header nodec last"><i class="bi bi-pen indigo-text"></i>Anmeldung<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <!--
        <li>
          <a href="#team"><div class="collapsible-header nodec last"><i class="bi bi-people teal-text"></i>Das Team<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        -->
      </ul>
    <% end %>


    
<% end %>



<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'infos',
  'backgroundImageFile' => '',
  'style' => 'max-width: 2000px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Wer kann mitmachen",
    'cardId' => 'wer-mitmachen',
    'imageFile' => 'card-filmfahrt24.jpg',
    'altText' => 'Vor und hinter der Kamera aktiv sein',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Jugendliche zwischen 12 und 16 Jahren. Du bist ein wenig jünger oder älter? Kein Problem, schreib uns eine E-Mail und wir besprechen, ob die Fahrt etwas für dich ist und du zu der Gruppe passt. Uns ist wichtig, dass sich alle in der Gruppe wohlfühlen.
    <br><br>
    Vorkenntnisse brauchst du keine. Egal ob du noch nie vor oder hinter der Kamera gestanden hast oder schon eigene Projekte umsetzt - wir unterstützen dich dabei deine Ideen umzusetzen und etwas Neues zu lernen. 
    <br><br>
    Du solltest aus Bremen und Umgebung kommen, da wir gemeinsam aus Bremen mit öffentlichen Verkehrsmitteln anreisen.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Anreise",
    'cardId' => 'anreise',
    'imageFile' => 'card-an-abreise.jpg',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Am Montag fahren wir gemeinsam ab Vegesack oder Bremen Hbf mit zum Zug los. Da wir erst am Nachmittag in unsere Unterkunft kommen, werden wir uns in Bremen nahe des Hauptbahnhofs noch im Kulturzentrum Schlachthof treffen, um uns schon kennenlernen zu können und eine Idee für den Kurzfilm zu entwickeln. Weitere Infos folgen. 
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Unterkunft",
    'cardId' => 'unterkunft',
    'imageFile' => 'card-wer-kann-mitmachen.jpg',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wir übernachten in dem Gästehaus eines Klosters in Rheda-Wiedenbrück. Genauere Infos folgen nach der Anmeldung.
    Direkt vor der Tür befindet sich der schöne Klostergarten. Die Stadt und der große Flora Westfalica Park befinden sich in unmittelbarer Nähe, um unsere Kreativität anzuregen.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Kosten",
    'cardId' => 'kosten',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Die Kosten betragen <b>200 € pro Teilnehmer. Vereinsmitglieder zahlen 180 €</b>. Es ist möglich, dem Verein noch vor der Fahrt beizutreten. Wer den vollen Betrag nicht aufbringen kann, meldet sich bitte unter info@elf-ev.de bei uns, wir besprechen, ob Fördermöglichkeiten infrage kommen und bieten bei Bedarf auch einen vergünstigten Preis an.
    <br><br>
    Außerdem braucht jeder ein eigenes <b>Deutschlandticket (58 €)</b> für die gemeinsame An- und Abreise aus Bremen mit öffentlichen Verkehrsmitteln.
    <br><br>
    Bei Bedarf können Bettwäsche (10,50 €) und Handtücher (5,00 €) von der Unterkunft geliehen werden.
    <br><br>
    Nach Anmeldeschluss werden wir wieder eine Preisspanne bekannt geben, die von erhaltenen Förderungen und der finalen Teilnehmerzahl abhängt. Jeder kann dann selbst entscheiden, ob der oben vereinbarte Preis gezahlt wird, ob man sich eine leichte Vergünstigung besser leisten kann oder ob man einen Förderpreis zahlen möchte, um unsere Vereinsarbeit zu unterstützen. Meistens beträgt die Spanne +/- 10–20 Euro.

  <% end %>

<% end %>





<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Anmeldung',
  'sectionId' => 'anmeldung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Anmeldung",
    'cardId' => 'anmeldung-karte',
    'imageFile' => 'card-anmeldung.jpg',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['E-Mail schreiben', 'mailto:info@elf-ev.de', true, 'flat', 'envelope-plus'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Bitte sende uns deine Anmeldung mit Name und Alter an info@elf-ev.de. Außerdem hilft es uns, wenn du dazu schreibst, worauf du besonders Lust hast (Schauspiel? Filmschnitt? Kameraführung? …?). Wir melden uns zeitnah bei dir, um deine Anmeldung zu bestätigen.<br><br>
    Anmeldeschluss ist der 1. Juni (solange noch Plätze frei sind).
  <% end %>

<% end %>
