---
layout: page-layout
tabTitle: 'Filmfahrt 2019 - E.L.F. e.V.'
title: 'Filmfahrt 2019'
secondaryTitle: 'Bewertet und geknebelt'
description: 'Wir drehen einen Kurzfilm mit Jugendlichen als Schauspieler oder an der Technik. Der Plot: Die Schüler müssen ihre Lehrerin auf Klassenfahrt wiederfinden.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-filmfahrt-1.jpg',
  'altText' => 'Dreharbeiten im Wald bei der Filmfahrt 2019',
  'style' => 'max-width: 1000px; margin-top: -300px;'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => 'narrow-text'
}) do %>
  <p class="justify">
    Bewertet und Geknebelt ist unser größtes Projekt der letzten fünf Jahre. Wir fahren in den Sommerferien mit Mitgliedern und Nichtmitgliedern des Vereins nach Hilter nahe Osnabrück, um innerhalb von fünf Tagen ein 30-seitiges Drehbuch abzudrehen. Wie man das alles organisiert und was danach passiert? Das erfahrt ihr hier! In dem Film geht es um eine kleine Schulklasse auf Klassenfahrt, bei der eine der Lehrkräfte verschwindet.<br><br>
    <i>Den ganzen Film sowie Outtakes, Making Of und andere Videos zum Produktionsprozess kannst du dir bei uns vor Ort ansehen, da sie online nicht mehr verfügbar sind.</i>
  </p>
<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Vorproduktion',
  'sectionId' => 'vorproduktion',
  'backgroundImageFile' => 'bg-filmfahrt-2.jpg',
  'style' => 'max-width: 2000px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Castings",
    'cardId' => 'castings',
    'imageFile' => 'card-castings.jpg',
    'altText' => 'Das Team der Filmfahrt 2019, das auch aus Teilnehmern des Castings besteht',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Um Schauspieler und Techniker für unseren Film zu finden veranstalten wir drei Castings mit insgesamt 24 Teilnehmern. Für das Casting nach den Osterferien werden schon einige Drehbuchszenen ausgearbeitet, die von den Schauspiel-Casting-Teilnehmern vorgespielt werden. Mit den Teilnehmern des Technik-Castings wird über Interesse und Erfahrung gesprochen. Am Ende gibt es eine schwierige Entscheidung zu treffen: Wer kann zur Filmfahrt 2019 mitkommen um mit uns “Bewertet und geknebelt” zu drehen?
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Planung",
    'cardId' => 'planung',
    'imageFile' => 'card-planung.jpg',
    'altText' => 'Vor dem Dreh wurden das Drehbuch geschrieben und die Einstellungn geplant',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Ein dreiviertel Jahr vor der Fahrt beginnt die Planung. Wir organisieren einen Drehbuch-Workshop mit Matthias Sabelhaus und fangen an das Drehbuch zu schreiben. Nach dem Casting gibt es vier Kennenlerntreffen, bei denen wir mit den Schauspielern und Technikern üben und uns vorbereiten. Es wird die Logistik, Unterkunft, Verpflegung und der Dreh mit vielen Dokumenten und Tabellen organisiert und besprochen. Wir bewerben uns bei Förderungen, um den Teilnahmepreis gering zu halten. Nach Zu- und Absagen wird die Fahrt zu Ende geplant und beginnt.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Produktion',
  'sectionId' => 'produktion',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Fahrt & Dreh",
    'cardId' => 'fahrtdreh',
    'imageFile' => 'card-dreh.jpg',
    'altText' => 'Dreharbeiten im Wald bei der Filmfahrt 2019',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Bericht lesen', '#modal-fahrt', false, 'flat', ''],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Mit insgesamt 17 Teilnehmern und Teamern fahren wir Anfang der Sommerferien nach Hilter um dort “Bewertet und geknebelt” zu drehen. Alle 19 Szenen werden trotz Zeitdruck und unvorhergesehenen Problemen mit viel Spaß abgedreht.<br>
    Sven hat folgenden Bericht geschrieben, wofür wir ihm sehr dankbar sind! (Wir haben ihn für die Website etwas abgeändert.)
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Making Of Videos",
    'cardId' => 'makingofvideos',
    'imageFile' => 'card-making-of-videos.jpg',
    'altText' => 'Ein Blick hinter die Kulissen der Filmfahrt 2019',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Videos ansehen', '#veroeffentlichungen', false, 'flat', 'collection-play'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Auf der Fahrt werden nicht nur die Szenen gefilmt, sondern auch der Dreh fleißig dokumentiert. Videos über den Entstehungsprozess und Outtakes von den Dreharbeiten findet ihr bei den Veröffentlichungen.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Nachpoduktion',
  'sectionId' => 'nachproduktion',
  'backgroundImageFile' => 'bg-filmfahrt-3.jpg',
  'style' => 'max-width: 2000px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Schnitt",
    'cardId' => 'schnitt',
    'imageFile' => 'card-schnitt.jpg',
    'altText' => 'Für die Sortierung im Schnitt hilft auch die Filmklappe, die am Set genutzt wurde',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Nach dem Dreh muss der Film geschnitten werden. Dafür wird schon auf der Fahrt angefangen die Videos und Audiodateien zu sortieren und zu sichern. Nach der Fahrt wird das Material zu Ende sortiert, gesichtet und der Rohschnitt beginnt. Nach dem Rohschnitt kommen wir zusammen, um den Feinschnitt, die Nachvertonung etc. zu planen. Abgeschlossen werden soll der Schnitt natürlich vor der Premiere.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Premiere",
    'cardId' => 'premiere',
    'imageFile' => 'card-festival-2019.jpg',
    'altText' => 'Das große Festival im Freizi Alt-Aumund mit der Filmpremiere',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Mehr zum Festival', 'https://www.elf-ev.de/projekte.html#festival19', false, 'flat', 'info_outlined'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Der Film hat seine Premiere bei unserem jährlichen E.L.F. Festival, welches am 23. November im Freizi Alt-Aumund stattfinden wird. Zu sehen ist auch exklusives Behind The Scenes und Making-Of Material, welches die Planung und die Produktion dokumentiert.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Veröffentlichungen',
  'sectionId' => 'veroeffentlichungen',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Videos*",
    'cardId' => 'videos',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <i>Den ganzen Film sowie Outtakes, Making Of und andere Videos zum Produktionsprozess kannst du dir bei uns vor Ort ansehen, da sie online nicht mehr verfügbar sind.</i><br><br>
    <ul class="collection">
      <li class="collection-item"><div>Castingaufruf<a href="https://youtu.be/jItdhLRg9TU" target="_blank" class="secondary-content"><i class="bi bi-play-circle-fill red-d1-text"></i></a></div></li>
    </ul>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Zeitungsartikel",
    'cardId' => 'zeitungsartikel',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <ul class="collection">
      <li class="collection-item"><div>Darsteller gesucht - 17. April 2019<a href="img/zeitung-darsteller-gesucht.jpg" target="_blank" class="secondary-content"><i class="bi bi-book red-d1-text"></i></a></div></li>
      <li class="collection-item"><div>Wie ein Eisberg im Meer - 17. Juli 2019<a href="img/zeitung-wie_ein_eisberg_im_meer.jpg" target="_blank" class="secondary-content"><i class="bi bi-book red-d1-text"></i></a></div></li>
      <li class="collection-item"><div>Von der Idee bis zum Film - 22. September 2019<a href="img/zeitung-von-der-idee-bis-zum-film.jpg" target="_blank" class="secondary-content"><i class="bi bi-book red-d1-text"></i></a></div></li>
    </ul>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Fotos*",
    'cardId' => 'fotos',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <ul class="collection">
      <li class="collection-item"><div>Fotos auf Instagram<a href="https://www.instagram.com/erstes_lesumer_fernsehen" target="_blank" class="secondary-content"><i class="bi bi-images red-d1-text"></i></a></div></li>
      <li class="collection-item"><div>Instagram-Guide<a href="https://www.instagram.com/erstes_lesumer_fernsehen/guide/how-to-filmfahrt-2019/17885276560938962/" target="_blank" class="secondary-content"><i class="bi bi-images red-d1-text"></i></a></div></li>
    </ul>
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'mitmachen-spenden',
  'backgroundImageFile' => 'bg-filmfahrt-4.jpg',
  'style' => 'max-width: 2000px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Du willst auch mitmachen?",
    'cardId' => 'auchmitmachen',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Mitmachen', 'https://www.elf-ev.de/#mitmachen', false, 'flat', 'people'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wenn du Interesse an Film und Medien hast oder sogar schon deine eigenen Filme produzierst, bist du bei uns genau richtig! Wir suchen immer nach Schauspielern, Technikern und helfenden Händen für unsere Projekte. Komm’ einfach bei einem der Treffen unserer Gruppen vorbei.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Spenden",
    'cardId' => 'spenden',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Kontodaten ansehen', 'https://www.elf-ev.de/#spenden', false, 'flat', 'currency-euro'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wir freuen und sehr über Spenden, weil wir dadurch Projekte wie dieses finanzieren können. Da wir als gemeinnütziger Verein anerkannt sind, können Sie Ihre Spende von der Steuer absetzen. Um eine Spendenquittung zu erhalten, können Sie uns einfach eine E-Mail an finanzen@elf-ev.de senden.
  <% end %>

<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'modal-fahrt', 
  'title' => 'Fahrt & Dreh',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  <p>
    „Filme machen – das ist eigentlich wie ein Eisberg im Meer“, sagt Frank. „Was wirklich dahinter steckt, sieht man meistens gar nicht“. Frank nimmt mit seiner Familie an der Filmfahrt 2019 teil. „Die eigentliche Arbeit – das Drehbuchschreiben, Organisieren, Proben – das bleibt alles im Verborgenen“.
    <br><br>
    Insgesamt 17 Teilnehmer und Begleiter aus Bremen-Nord machten sich vom 5. bis 9. Juli auf in Richtung Osnabrück. In Hilter mietete E.L.F. das Tagungshaus „Friedenskotten“ - ein altes Bauernhaus, dicht am Wald. Die perfekte Kulisse.
    <br><br>
    „Schauspiel war eigentlich nicht so mein Ding“, sagt Joel aus Blumenthal. Auch er musste sich den kritischen Fragen der E.L.F.-Mitglieder stellen – denn auch Techniker wollten gut ausgesucht sein. Fünf Tage lang lernte er, den richtigen Ton am Set einzufangen. „Auf jeden Fall habe ich gerlernt, wann ich die Tonangel schwenke oder wann ich sie in welche Richtung halten muss. Natürlich darf das Mikro auch nicht im Bild sein, wenn die Szene sich bewegt.“ Nach fünf Tagen merkt Joel seine Arme. Und doch hat er „Blut geleckt“. „Ich will auch noch in die anderen Bereiche reingucken. Vielleicht übernehme ich doch mal eine kleine Rolle als Schauspieler“.
    <br><br>
    Änglist war Henry. Deswegen wurde er häufig von seinen Mitschülerinnen geärgert. „Aber im Verlauf des Films ändert sich das. Er zeigt im Film Mut“, sagt Adil. Der 12-Jährige aus Rönnebeck spielt Henry. „Das war schon aufregend, das erste Mal vor der Kamera zu stehen. Hat aber Spaß gemacht!“ Außerdem haben ihm die Gruppe und das Programm gut gefallen. Neben dem Film erinnert er sich besonders an das Lagerfeuer, Pfannkuchen und die Party im Garten. Nach diesem Wochenende hat Adil einen Wunsch: „Schauspieler werden!“, sagt er und grinst.
    <br><br>
    „Unsere Kinder sind sehr an Medien interessiert. Da war es schon ganz interessant, einmal aktiv Medien selbst zu machen, statt sie nur zu konsumieren“, sagt Jana aus Rekum. Sie spielt im Film die freundliche Lehrerin Gerst. „Ganz schön beeindruckend, was hinter einer Filmproduktion steckt. Und wieviel Geduld man für eine Szene benötigt“, findet sie. Neben der Schauspielerei hatte sie gleich noch eine andere Aufgabe: Sie musste ihre Rolle als Mutter ein kleines bisschen ablegen. Denn im Team sollten alle möglichst gleich sein – egal ob jung oder alt, erfahren oder neu in der „Filmbranche“. Das hat nach ihrer Einschätzung aber gut funktioniert: „Der Gruppenzusammenhalt war einfach super. Da mache ich zehn Ausrufezeichen“, sagt sie.
    <br><br>
    “Das ist mal wieder ein größeres Projekt, vielleicht das größte in den letzten Jahren“, sagt Ronja aus Schönebeck. Sie ist mit 18 Jahren die Erste Vorsitzende von E.L.F. „Der Zweck war es, Spaß zu haben“, lacht sie. „Wir wollten einen coolen Film drehen und den Teilnehmenden beibringen, wie ein Film entsteht. Das hilft ja, um zu erkennen, wann etwas inszeniert ist. Nicht alles in der Medienwelt ist echt“. Außerdem war es den Drehbuchschreibern wichtig, auf Verhaltensweisen hinzuweisen. So wird beispielsweise Henry im Film immer wieder geärgert. Wer sich bei einem Filmprojekt mit Mobbing auseinandersetzt, kann sich vielleicht im echten Leben viel besser in die Rolle des Opfers hineinversetzen.
  </p>
<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'modal-videos-offline', 
  'title' => 'Dieses Video ist online leider nicht mehr verfügbar',
  'buttonText' => '',
  'buttonLink' => '',
  'onClick' => ''
}) do %>
  <p>
    Der Film, sowie einige Videos zum Produktionsprozess von "BEWERTET und GEKNEBELT" sind leider nicht mehr online verfügbar, da nicht mehr alle Beiteiligten mit der Veröffentlichung im Internet einverstanden sind.<br><br>
    Wenn du den Film oder die anderen Videos sehen möchtest, kannst du sie dir bei einem unserer Treffen vor Ort anschauen.
  </p>
<% end %>