---
layout: page-layout
tabTitle: 'Casting für Filmfahrt 2023 - E.L.F. e.V.'
title: 'Casting: Schauspieler & Crew'
secondaryTitle: 'Für Filmfahrt 2023'
description: 'Für die Sommerferien 2023 planen wir wieder eine Filmfahrt, bei der ein Kurzfilm gedreht wird. Dazu findet ein Casting für Schauspieler udn Crew statt.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-filmklappe-filmfahrt23.jpg',
  'altText' => 'Auch dieses Jahr gibt es ein Casting für unsere Filmfahrt',
  'style' => 'max-width: 1000px; padding-top:80px'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => ''
}) do %>

  <div class="col s12 m12 l6">
  
    <p>
      Du bist zwischen 12 und 16 Jahren alt und möchtest bei unserer Filmfahrt vom 08. - 12. August mit uns einen Kurzfilm drehen? Du möchtest eine Rolle im Film spielen, die Kamera bedienen oder den Ton aufnehmen? Hier erfährst du, wie das geht!
      <br><br>
      Die Anmeldefrist wurde auf Sonntag, den 23.04. verlängert.
    </p>

    <%= partial('layouts/components/button', :locals => {
      'btnText' => 'Zur Anmeldung',
      'btnLink' => '#anmeldung',
      'btnLinkInNewTab' => false,
      'btnType' => 'large',
      'btnIcon' => 'arrowRight',
      'btnPosition' => 'center'
    })%>

  </div>

  <% partial('layouts/components/card', :locals => { 
      'cardTitle' => "",
      'cardId' => 'inhalt',
      'imageFile' => '',
      'altText' => '',
      'smlWidth' => [12, 12, 6],
      'cardAction' => [],
      'stickyAction' => 'false',
      'onlyImageCardDescription' => '',
      'reveals' => [],
      'contentPosition' => 'before',
      'cardActionReveal1' => [],
      'cardActionReveal2' => [],
      'cardActionReveal3' => []
    }) do %>
      <ul class="collapsible expandable no-top-line" style="margin: -24px">
        <li>
          <a href="#infos"><div class="collapsible-header nodec first"><i class="bi bi-info-circle red-d1-text"></i>Informationen<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <li>
          <a href="#anmeldung"><div class="collapsible-header nodec"><i class="bi bi-pen indigo-text"></i>Anmeldung<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
        <li>
          <a href="#team"><div class="collapsible-header nodec last"><i class="bi bi-people teal-text"></i>Das Team<i class="bi bi-chevron-right grey-text right"></i></div></a>
        </li>
      </ul>
    <% end %>
    
<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'infos',
  'backgroundImageFile' => '',
  'style' => 'max-width: 2000px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Über das Projekt",
    'cardId' => 'ueber-projekt',
    'imageFile' => 'card-kamera-klappe.jpg',
    'altText' => 'Vor und hinter der Kamera aktiv sein',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wir suchen Jugendliche, die Lust haben, bei einem Kurzfilm mitzuwirken, der im Rahmen unserer Filmfahrt vom 08. bis 12. August in den Sommerferien in Norden an der Nordsee gedreht wird. Die genaue Adresse der Unterkunft wird den Teilnehmern rechtzeitig mitgeteilt. Die An- und Abreise erfolgen gemeinsam mit dem Zug ab Bahnhof-Vegesack. Gedreht wird ein Abenteuerfilm. Die Idee stammt von Luna, die unseren Drehbuch-Wettbewerb gewonnen hat. Ob vor oder hinter der Kamera, wir suchen Nachwuchsfilmemacher, die mehr über das Filmemachen lernen oder es einfach mal ausprobieren wollen!
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Warum ein Casting?",
    'cardId' => 'warum-casting',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Da unsere Plätze für die Fahrt begrenzt sind und wir oft mehr Anmeldungen bekommen, möchten wir euch in einem Casting kennenlernen. So können wir eine passende Gruppe zusammenstellen, mit genügend Jugendlichen, die sich fürs Schauspiel oder die Aufgaben hinter der Kamera interessieren. Ihr könnt auch angeben, dass ihr euch für beides interessiert.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Wer kann mitmachen?",
    'cardId' => 'kosten',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Jugendliche zwischen 12 und 16 Jahren aus Bremen und um zu.
    <br>
    Wir werden mit den Teilnehmern ca. zwei bis drei Kennenlerntreffen veranstalten. Zu dem ersten sind auch Eltern und Erziehungsberechtigte herzlich eingeladen. Dafür solltet ihr das Gustav-Heinemann Bürgerhaus in Bremen-Vegesack erreichen können.
    <br>
    Es ist keine Vorerfahrung nötig.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Anmeldung',
  'sectionId' => 'anmeldung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Anmeldung",
    'cardId' => 'anmeldung-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => ['Anmeldeformular ausfüllen', 'https://docs.google.com/forms/d/e/1FAIpQLSfhmbj2RsapabE9VePq19UXTPOZD0qk7v3R9axFNhOJVZrKdg/viewform?usp=sf_link', true, 'filled', 'pen'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Für das Casting musst du dich mit diesem Formular bis zum 23. April anmelden.
    <br><br>
    Das Casting findet am 28. und 29. April im Gustav-Heinemann Bürgerhaus in Vegesack statt.
    <br><br>
    Wir werden dir nach der Anmeldefrist eine genaue Uhrzeit und weitere Infos für dein Casting mitteilen. Sollten wir zu viele Anmeldungen bekommen, kann es sein, dass wir dich bitten, stattdessen ein kurzes Video aufzunehmen.
    <br><br>
    Wenn du jetzt schon weißt, dass du nicht zum Casting kommen kannst, kannst du in dem Fragebogen auch direkt auswählen, dass du lieber ein Video aufnehmen möchtest.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Für die Eltern",
    'cardId' => 'eltern',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => ['E-Mail schreiben', 'mailto:info@elf-ev.de', true, 'flat', 'envelope-plus'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Eltern, Erziehungsberechtigte oder andere Vertrauenspersonen können natürlich zum Casting mitkommen. Während dem Casting bitten wir euch aber vor dem Raum zu warten.
    <br>
    Die Teilnahme an dem Casting ist kostenlos.
    <br>
    Sollte Ihr Kind einen Platz auf der Fahrt bekommen, fallen erst Kosten an, sobald Sie Ihr Kind verbindlich anmelden.
    <br>
    Die Fahrt wird maximal 200 € kosten, diesen Preis können wir durch eine Spende gewährleisten. Wir haben zusätzlich Förderungen angefragt. Sollten wir noch Fördergelder erhalten, wird der Teilnahmebeitrag sich ggf. verringern. Sollten Sie Probleme haben, diese Kosten aufzubringen, sprechen Sie uns gerne unter info@elf-ev.de an.
  <% end %>
<% end %>