---
layout: page-layout
tabTitle: 'Filmfahrt 2022 - E.L.F. e.V.'
title: 'Filmfahrt 2022'
secondaryTitle: 'Kurzfilm und Workshops'
description: 'Für die Sommerferien 2022 planen wir wieder eine Filmfahrt, bei der ein Kurzfilm gedreht und Wissen bei Wokrshops erlernt wird.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-filmklappe.jpg',
  'altText' => 'Dreharbeiten im Wald bei der Filmfahrt 2019',
  'style' => 'max-width: 1000px; margin-top: -300px;'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => 'narrow-text'
}) do %>
  <p>
    Für die Sommerferien 2022 planen wir wieder eine Filmfahrt.<br><br>
    Interessierte Jugendliche zwischen 11 und 17 Jahren erarbeiten an 5 Tagen ihren ganz eigenen Kurzfilm. Nebenbei vertiefen sie ihr Wissen bei Workshops zu verschiedenen Bereichen der Filmproduktion.<br><br>
    Hier kannst du dir anschauen, wie unsere letzte Fahrt war: <a href="filmfahrt19.html" class="red-d1-text">Filmfahrt 2019</a><br><br>
    <b>Anmeldungen sind nicht mehr möglich.</b>
  </p>
    <%= partial('layouts/components/button', :locals => {
      'btnText' => 'Zur Anmeldung',
      'btnLink' => '#anmeldung',
      'btnLinkInNewTab' => false,
      'btnType' => 'large',
      'btnIcon' => 'arrowRight',
      'btnPosition' => 'center'
    })%>
<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'infos',
  'backgroundImageFile' => '',
  'style' => 'max-width: 2000px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "In Kürze",
    'cardId' => 'zusammenfassung',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['Video ansehen', 'https://youtu.be/iBIBO3AG-0Y', 'true', 'filled', 'play-circle'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <ul class="disc-list">
      <li>Für Filmbegeisterte und die, die es werden möchten</li>
      <li>Alter: 11 bis 17 Jahre</li>
      <li>Datum: 15. bis 19. August</li>
      <li>Kennenlerntreffen vor den Sommerferien</li>
      <li>CVJM-Freizeitheim Burlage in Diepholz, Niedersachsen</li>
      <li>Abfahrt ab Bahnhof Bremen-Vegesack</li>
    </ul>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Worum geht's?",
    'cardId' => 'worum-gehts',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wir freuen uns nach drei Jahren wieder eine Filmfahrt anbieten zu können! Dieses Mal mit einem neuen Konzept: die Jugendlichen werden von Anfang bis Ende ihren eigenen Kurzfilm entwickeln und nebenbei in verschiedenen Workshops ihr Wissen, je nach Interesse, vertiefen können.
    <br><br>
    Nach einem Kennenlerntreffen vor den Sommerferien geht es vom 15. bis zum 19. August auf die Reise nach Diepholz ins CVJM-Freizeitheim Burlage. Nicht nur in dem Fachwerkhaus, auch im großen Naturgarten und am nahegelegenen See gibt es spannende Drehorte zu entdecken. Neben der Drehort-Suche können sich Teilnehmer an vielen weiteren Aufgaben ausprobieren: Kameraführung, Schauspiel, Regie, Schnitt und mehr.
    <br><br>
    Dabei geht es nicht nur darum, spannendes über die Filmwelt zu lernen, sondern auch bei einem schönen Ausflug gleichgesinnte kennenzulernen.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Kosten",
    'cardId' => 'kosten',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Da wir die Fahrt so bezahlbar wie möglich (zum Selbstkostenpreis) anbieten wollen, können wir erst mit fester Teilnehmerzahl den genauen Preis bestimmen.<br><br>
    Voraussichtlich ist die Fahrt kostendeckend, wenn jeder Teilnehmer 130 € zahlt. In dem Fall werden wir eine Zahlung nach Selbsteinschätzung von 110 € - 150 € anbieten, mit einer Zahlung von über 130 € kann die Fahrt von Teilnehmern, die sich weniger leisten können, mitfinanziert werden.<br><br>
    Zusätzlich muss jeder Teilnehmer selbständig ein 9 Euro Monatsticket für den August anschaffen und mitbringen.<br><br>
    Die endgültigen Kosten teilen wir euch nach Anmeldeschluss mit. Die Kosten könnten sich um etwa 20 Euro nach oben oder nach unten ändern. Sollten sich die Kosten erhöhen, finden wir aber auch für jeden eine Lösung, der sich eine Erhöhung nicht leisten kann.

  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Anmeldung',
  'sectionId' => 'anmeldung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Verlängerung der Anmeldefrist!",
    'cardId' => 'verlaengerung-anmeldefrist',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Wir verlängern die Anmeldefrist bis zum 31. Juli 2022! (Solange Plätze frei sind)<br><br>
    Wir haben bereits genügend Anmeldungen, um die Fahrt stattfinden zu lassen, möchten aber die Möglichkeit geben, sich für die übrigen Plätze anzumelden, solange noch welche verfügbar sind.
    Das Kennenlerntreffen findet wie geplant vor den Sommerferien für alle statt, die sich vorher anmelden, weil es in den Ferien erfahrungsgemäß schwierig ist einen gemeinsamen Termin zu finden.
    Falls ihr euch nach dem Kennenlerntreffen anmeldet: Wir bleiben mit euch in Kontakt und versuchen ggf. ein zweites Kennenlerntreffen zu ermöglichen. Sollte das nicht klappen, werden wir allen, die möchten, zumindest ein Telefonat anbieten.
    Alle Infos zur Anmeldung und der Fahrt findet ihr unten.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "So geht's:",
    'cardId' => 'anmeldung-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => ['E-Mail schreiben', 'mailto:info@elf-ev.de', true, 'filled', 'envelope-plus'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <b>Anmeldefrist ist der 31. Juli 2022 - Anmeldungen sind nicht mehr möglich</b><br>
    <ul class="disc-list">
      <li>Melde dich erstmal unverbindlich per Mail (info@elf-ev.de) mit deinem Namen, Alter und eventuellen Fragen.</li>
      <li>Wenn noch ein Platz frei und deine Fragen geklärt sind, bekommst du ein kurzes Online-Formular für deine Eltern mit den wichtigsten Infos, um dir einen Platz zu reservieren.</li>
      <li>Die ausführliche Anmeldung mit allen Infos erhaltet ihr vor dem ersten Kennenlerntreffen, zu dem neben den Teilnehmern alle Eltern und Erziehungsberechtigten herzlich eingeladen sind.</li>
    </ul>
  <% end %>
<% end %>