---
layout: index-layout
tabTitle: 'E.L.F. - Erstes Lesumer Fernsehen e.V.'
title: 'Erstes Lesumer Fernsehen e.V.'
secondaryTitle: 'Jugendmedienverein'
description: 'Als Jugendmedienverein drehen wir Kurzfilme und machen Festivals, Filmfahrten und Workshops. Unser Ziel: Jugendliche in Bremen-Vegesack und umzu für Medien begeistern.'
---
<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => true, 
  'sidenavTitle' => 'Erstes Lesumer Fernsehen e.V.',
  'sidenavSecondaryTitle' => 'Jugendmedienverein',
  'logo' => true, 
  'logoHideOnTop' => true,
  'membersArea' => true,
  'search' => false,
  'policyInformation' => true,
  'primaryLinks' => ['Über uns', '#ueber_uns', 'house', 'Mitmachen', '#mitmachen', 'people', 'Projekte', '#projekte', 'camera-reels', 'Veranstaltungen', '#veranstaltungen', 'calendar-event', 'Verein', '#verein', 'building', 'Kontakt', '#kontakt', 'telephone'],
  'linksPosition' => 'right',
  'showOnMobile' => false,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => true,
  'backgroundFile' => 'img/bg-ueber_uns.jpg',
  'altText' => 'Blackmagic Pocket Cinema Camera 4K - Eine der Kameras bei E.L.F.',
  'style' => 'max-width: 1000px;'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'ueber_uns',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => ''
}) do %>

  <div class="col s12 m12 l6">
      
      <%= partial('layouts/components/cd-headline', :locals => {
        'type' => 'push',
        'textBefore' => 'Hey, du willst',
        'words' => ['Medien', 'Filme', 'Schauspiel', 'Technik', 'Videos', 'Fotos', 'Design', 'Werbespots', 'Code', 'Musik', 'Events', 'Journalismus', 'Grafiken', 'Filmfahrten', 'Hörspiele', 'Festival', 'Jugendarbeit', 'Projekte', 'Podcasts', 'Animationen', 'Kamera', 'Interviews', 'Websites', 'Regie', 'TV', 'Plakate', 'Stop Motion', 'Kurzfilme', 'YouTube', 'Drehbücher', 'Kunst', 'Ton', 'Social Media', 'Moderation', 'Berichte'],
        'textAfter' => '<br>machen?'
      })%>
      
      <p class="justify">
        Und das mit Teamgeist, viel Spaß und engagierten Leuten? Dann komm' zu uns!
        <br><br>
        Wir sind Jugendliche, aber auch Erwachsene, die Kurzfilme machen, Spots drehen, eigene Festivals und Filmprojekte veranstalten, programmieren und einfach gemeinsam Spaß haben.<br>Unser Ziel im Verein ist es, Jugendliche aus Bremen-Vegesack und umzu für Medien zu begeistern und mit ihnen tolle Projekte umzusetzen.
        <br><br>
        Wenn du interessiert bist, komm gerne vorbei und mach mit!
      </p>

      <%= partial('layouts/components/button', :locals => {
        'btnText' => 'Jetzt mitmachen',
        'btnLink' => '#mitmachen',
        'btnLinkInNewTab' => false,
        'btnType' => 'large',
        'btnIcon' => '',
        'btnPosition' => 'left'
      })%>
    </div>
    <div class="col s12 m12 l6">
      <div class="row center">
        <div class="hide-on-med-and-down" style="height: 100px;"></div>
        <div class="show-on-med-and-down" style="height: 20px;"></div>
        <div class="img-container">
          <a href="https://www.youtube.com/watch?v=ciFUhSarje4" target="_blank"><img class="lazyload" src="img/lazyload-platzhalter.jpg" data-src="img/yt-thumbnail.jpg" alt="YouTube Video: Dann geh doch zu E.L.F.!" width="512" height="288"/></a>
        </div>
        <div class="col s12 m12 l12 button-row">
          <a class="btn-floating move waves-effect waves-light red darken-1" href="https://www.youtube.com/user/TheELFev" target="_blank" rel="noopener" aria-label="YouTube-Kanal"><i class="bi bi-youtube"></i></a>
          <a class="btn-floating move waves-effect waves-light red darken-1" href="https://www.instagram.com/erstes_lesumer_fernsehen" target="_blank" rel="noopener" aria-label="Instagram-Profil"><i class="bi bi-instagram"></i></a>
          <a class="btn-floating move waves-effect waves-light red darken-1" href="https://www.facebook.com/ersteslesumerfernsehen" target="_blank" rel="noopener" aria-label="Facebook-Seite"><i class="bi bi-facebook"></i></a>
        </div>
        <a class="waves-effect waves-light btn-flat bordered center modal-trigger" href="#modal-newsletter"><i class="bi bi-envelope left"></i>Newsletter</a>
      </div>
    </div>
    
<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Mitmachen',
  'sectionId' => 'mitmachen',
  'backgroundImageFile' => 'bg-treffen.jpg',
  'style' => 'max-width: 2300px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% content_for(:reveal1, :flush => true) do %>
    Bei den offenen Medientreffen drehen wir gemeinsam Kurzfilme, Veranstaltungen, Redaktionsbeiträge und vieles mehr. Aber auch andere Formate wie Fotografie und Podcasts kann hier jeder mit den anderen Jugendlichen gemeinsam umsetzen. Ob Vorbereitung, an der Kamera, als Schauspieler oder Reporter oder im Schnitt, hier kann sich jeder und jede ganz individuell ausleben!
    <br>
    <br>
    Altersgruppe: 11 - 17 Jahre
    <%= partial('layouts/components/event', :locals => {
      'title' => 'Donnerstag',
      'text' => '16 bis 18:30 Uhr, wöchentlich<br>Ort: <a class="red-d1-text" href="#kontakt">Gustav-Heinemann-Bürgerhaus</a>',
      'icsFileName' => ''
    })%>
  <% end %>
  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Nimm an den Treffen teil!",
    'cardId' => 'gruppen-karte',
    'imageFile' => 'card-treffen.jpg',
    'altText' => 'Regelmäßige Treffen der verschiedenen Gruppen',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['E-Mail schreiben', 'mailto:info@elf-ev.de?subject=Mitmachen', true, 'flat', 'envelope-plus'],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => ['Offene Medientreffen', 'offene-medientreffen', 'camera-reels', '', ''],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <p>
      Wenn Du vorbeikommen möchtest, schreib' uns einfach eine kurze E-Mail an info@elf-ev.de!
    </p>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Mach bei Projekten mit!",
    'cardId' => 'projekte-mitmachen-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Zu den Projekten', '#projekte', false, 'flat', 'card-list'],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Du kannst auch bei einzelnen Projekten von uns mitmachen. Wir suchen dafür immer Leute, die entweder vor oder hinter der Kamera mitmhelfen, um Filmprojekte, Veranstaltungen und mehr zu rocken! Schau dich einfach mal bei unseren aktuellen Projekten um. Bei einigen hast du die Möglichkeit, mitzumachen.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Engagier dich bei uns!",
    'cardId' => 'engagement-mitmachen-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Mehr dazu', 'engagement.html', false, 'flat', 'info-circle'],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Lust auf Teamer sein, im Vorstand helfen oder Projekte mit anzuleiten und dabei ein kleines Taschengeld verdienen? Dann kannst du dich bei uns im Verein freiwillig engagieren! Auf Leute wie dich sind wir angewiesen. Wenn du Interesse hast, kannst du mehr Infos auf unserer Seite, extra für Engagement interessierte Leute, finden.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Projekte',
  'sectionId' => 'projekte',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => {
    'cardTitle' => "Film- & Mediencamp 2025",
    'cardId' => '',
    'imageFile' => 'card-filmfahrt24.jpg',
    'altText' => '',
    'smlWidth' => [12, 12, 6],
    'cardAction' => ['Infos & Anmeldung', 'film-mediencamp25.html', false, 'flat', 'info-circle'],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <div style="position: relative; top: -200px; visibility:hidden;" id="filmfahrt24"></div>
    Tauche ein in die Welt der Medien! Beim E.L.F. Film- & Mediencamp vom 21.– 25. Juli 2025 drehen wir einen Kurzfilm und setzen kreative Projekte um – von Film über Fotografie bis Social Media. Weitere Infos folgen noch – bei Interesse schick uns gerne schonmal eine Mail (info@elf-ev.de)! 🎬
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Jugendsendung „E.L.F. Spotlight“",
    'cardId' => 'jugendsendung',
    'imageFile' => 'card-erste-jugendsendung.jpg',
    'altText' => 'E.L.F. Spotlight Jugendsendung',
    'smlWidth' => [12, 12, 6],
    'cardAction' => ['Playlist*', 'https://youtube.com/playlist?list=PLTDpgM1PsyVp1_xGcFdLp1PNSHROJlrBV', true, 'flat', 'play-btn'],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Das ist unsere Jugendsendung mit lustigen und spannenden Berichten über alles, was uns bewegt! Schaut sie euch gern an oder macht direkt mit!
  <% end %>

  <div class="col s12 m12 l12">
    <div class="row center">
      <a class="waves-effect waves-light btn-flat bordered" href="projekte.html"><i class="bi bi-camera-reels left"></i>Alle Projekte</a>
    </div>
  </div>
  
<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Veranstaltungen',
  'sectionId' => 'veranstaltungen',
  'backgroundImageFile' => 'bg-veranstaltungen.jpg',
  'style' => 'max-width: 2300px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Momentan gibt's hier nichts 🙁",
    'cardId' => 'keine-veranstaltung-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['Alte Veranstaltungen', 'projekte.html', false, 'flat', 'clock-history'],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Unser Verein',
  'sectionId' => 'verein',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Vorstand",
    'cardId' => 'vorstand',
    'imageFile' => 'card-kamera-klappe.jpg',
    'altText' => 'Vorstand des Geschäftsjahres 2025',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Mehr zum Engagement', 'engagement.html', 'false', 'flat', 'info-circle'],
    'stickyAction' => false,
    'onlyImageCardDescription' => 'Geschäftsjahr 2025',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <table>
      <tr>
        <td>1. Vorsitzende</td>
        <td>Ronja Jürgens</td>
      </tr>
      <tr>
        <td>2. Vorsitzender</td>
        <td>Marc Diercksen</td>
      </tr>
      <tr>
        <td>Kassenwart</td>
        <td>Sven Kuhnen</td>
      </tr>
      <tr>
        <td>Schriftführer</td>
        <td>Malte Bücking</td>
      </tr>
      <tr>
        <td rowspan="3">Beisitzer*innen</td>
        <td>Leon Jäger</td>
      </tr>
      <tr>
        <td>Sebastian Pelka</td>
      </tr>
      <tr>
        <td>Sophia Matheus</td>
      </tr>
    </table>
    <br>
    <p>Unser Vorstand wird regelmäßig am Anfang des Jahres bei unserer Jahreshauptversammlung neu gewählt. Für die Vorstandswahl kann sich jedes Mitglied aufstellen lassen, um an wichtigen Vereinsentscheidungen mitzuwirken und ganz nahe am Vereinsgeschehen zu sein. Das können sogar Jugendliche unter 18 Jahren als Beisitzer*in oder Schriftführer*in.
      <br><br>
    Unten erfährst du mehr darüber, wie du dich bei uns engagieren kannst.<br><br><br></p>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Mitglied werden",
    'cardId' => 'mitglied-werden',
    'imageFile' => 'card-mitglied_werden.jpg',
    'altText' => 'Mitglied werden für 11€ pro Halbjahr für Jugendliche',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Mitgliedsantrag', 'downloads/antrag-auf-mitgliedschaft-2023.pdf', 'true', 'filled', 'file-earmark-arrow-down'],
    'stickyAction' => false,
    'onlyImageCardDescription' => 'Nur 11 € pro Halbjahr für Jugendliche',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Du willst Mitglied werden? Super! Komm' uns erstmal bei einem Treffen besuchen, da erfährst du alles über den Verein! Nach einigen Wochen, kannst du dann per Mitgliedsantrag beitreten (siehe unten).
    <br><br>
    <b>Kosten (halbjährlich):</b><br>
    Jugendliche (bis eins. 26 Jahren): 11,00€<br>
    Erwachsene: 22,00€
    <br><br>
    <b>Vorteile für Mitglieder:</b><br>
    - Hilfe bei Medienprojekten<br>
    - Wissen austauschen und anweden<br>
    - Technik ausleihen<br>
    - Vereinsaktionen (z.B. Filmabende)<br>
    - An Filmfahrten und Festivals teilnehmen<br>
    - Neue Medienmacher kennenlernen<br>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Kindergeburtstage",
    'cardId' => 'kindergeburtstage',
    'imageFile' => 'card-kindergeburtstage.jpg',
    'altText' => 'Kindergeburtstag mit Filmdreh',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['E-Mail', 'mailto:info@elf-ev.de', 'true', 'flat', 'envelope-plus'],
    'stickyAction' => false,
    'onlyImageCardDescription' => 'Verwandle deine Feier in ein Filmset',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Du möchtest deinen Geburtstag feiern, aber weißt nicht wo? Verwandle deine Feier in ein einmaliges Erlebnis, bei dem du mit deinen Freunden einen oder mehrere kleine Kurzfilme drehst und sie mit nach Hause nehmen kannst. Unsere netten Mitglieder helfen euch und bringen euch alles nötige bei. Interesse? Und, action!
    <br><br>
    Melde dich einfach per E-Mail bei uns und wir besprechen den Rest. Eine Spende kann im Nachhinein nach eigenem Ermessen gezahlt werden.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Vereinsname",
    'cardId' => 'vereinsname',
    'imageFile' => 'card-vereinsname.jpg',
    'altText' => 'Der Vereinsname stammt aus der Zeit der VHS Kameras',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['Was wir jetzt machen', '#mitmachen', 'false', 'flat', 'info-circle'],
    'stickyAction' => false,
    'onlyImageCardDescription' => 'Bedeutung und Herkunft',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Der Name “Erstes Lesumer Fernsehen e.V.” ist, zugegeben, etwas irreführend. Man könnte denken, dass wir der erste Fernsehsender in Bremen-Lesum sind. Doch dem ist nicht so. Wir sind kein Fernsehsender und wir treffen uns auch nicht in Lesum. Allerdings hat der Name einen guten Grund: Früher hatten wir eine Fernsehsendung, die auf dem offenen Kanal ausgestrahlt wurde, und 1993 wurde unser Verein in Lesum gegründet.<br><br>
    Die Fernsehsendung von damals gibt es nicht mehr, aber dafür seitdem immer wieder unterschiedliche spannende Projekte und Gruppen.
    Unter anderem drehen wir Kurzfilme, geben Workshops und organisieren Filmfahrten sowie Festivals. Ach, und wir treffen uns nicht mehr in Lesum, sondern im <a class="red-d1-text modal-close" href="#kontakt">Gustav-Heinemann-Bürgerhaus</a> in Vegesack.
    <br><br>
    Was wir zurzeit genau machen, kannst du hier unten nachlesen.<br><br><br>
  <% end %>

  <div class="row center">
    <a class="waves-effect waves-light btn-flat bordered" href="downloads/satzung-2024.pdf" target="_blank"><i class="bi bi-file-earmark-arrow-down left"></i>Satzung</a>
    <br>
    <a class="waves-effect waves-light btn-flat bordered" href="downloads/datenschutzhinweise.pdf" target="_blank"><i class="bi bi-file-earmark-arrow-down left"></i>Datenschutzhinweise</a>
  </div>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Kontakt',
  'sectionId' => 'kontakt',
  'backgroundImageFile' => 'bg-kontakt.jpg',
  'style' => 'max-width: 2000px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Kontakt",
    'cardId' => 'kontakt-karte',
    'imageFile' => 'card-contact.jpg',
    'altText' => 'Kontaktiert uns immer gern!',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => false,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <div class="row center">
      <p>E.L.F. - Erstes Lesumer Fernsehen eingetragener Verein</p>
      <table>
        <tr>
          <td>Öffnungszeiten</td>
          <td>
            <a class="red-d1-text" href="#gruppen-karte">Siehe Treffen</a>
          </td>
        </tr>
        <tr>
          <td>Ort</td>
          <td><a class="red-d1-text" href="https://www.kulturbuerobremennord.de/unsere-h%C3%A4user/b%C3%BCrgerhaus/" target="_blank">Gustav-Heinemann-Bürgerhaus*</a> | Raum E.01</td>
        </tr>
        <tr>
          <td>Adresse</td>
          <td>
            <a class="red-d1-text" href="https://www.google.com/maps/place/E.L.F.+-+Erstes+Lesumer+Fernsehen+e.V./" target="_blank">Kirchheide 49, 28757 Bremen*</a>
          </td>
        </tr>
        <tr>
          <td>E-Mail</td>
          <td>
            <a class="red-d1-text" href="mailto:info@elf-ev.de" target="_blank">info@elf-ev.de</a>
          </td>
        </tr>
        <tr>
          <td>Sitz des Vereins</td>
          <td>
            <a class="red-d1-text" href="http://www.amtsgericht.bremen.de/" target="_blank">Amtsgericht Bremen*</a> VR 5007</td>
        </tr>
      </table>
    </div>
  <% end %>

  <% content_for(:reveal1, :flush => true) do %>
    Mit einer Spende per Überweisung kannst du uns direkt unterstützen. Da wir ein gemeinnütziger Verein sind, kannst du deine Spende auch von den Steuern absetzen. Dazu kannst du uns eine kurze E-Mail schreiben, um eine Spendenbescheinigung zu erhalten.<br>
    Wir freuen uns über jede Spende!<br><br>
    <b>Kontoverbindung</b><br>
    Begünstigter: Erstes Lesumer Fernsehen e.V.<br>
    IBAN: DE22 8306 5408 0004 2138 15<br>
    BIC: GENODEF1SLR
  <% end %>
  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Spenden",
    'cardId' => 'spenden',
    'imageFile' => 'card-spenden.jpg',
    'altText' => 'Wir sind auf Spenden in unserem Sparschwein angewiesen',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => ['Überweisung', 'ueberweisung', 'currency-euro', '', ''],
    'contentPosition' => 'before',
    'cardActionReveal1' => ['Spendenquittung', 'mailto:finanzen@elf-ev.de?subject=Anforderung%20einer%20Spendenquittung', true, 'filled', 'envelope-plus'],
    'cardActionReveal2' => ['Unterstützen', 'https://smile.amazon.de/ch/60-147-13229', true, 'filled', 'cart-plus'],
    'cardActionReveal3' => []
  }) do %>
    <%= partial('layouts/components/cd-headline', :locals => {
      'type' => 'slide small',
      'textBefore' => 'Du willst uns finanziell bei',
      'words' => ['Filmfahrten', 'Workshops', 'Festivals', 'Technik', 'Projekten', 'Kurzfilmen'],
      'textAfter' => 'unterstützen?'
    })%>
    Darüber freuen wir uns sehr! Spenden kannst du ganz einfach per Überweisung. Wir freuen uns über jede Spende!
  <% end %>

<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'modal-newsletter', 
  'title' => 'Newsletter-Anmeldung',
  'buttonText' => 'Anmelden',
  'buttonLink' => 'mailto:info@elf-ev.de?subject=Newsletter-Anmeldung&body=Hallo%2C%20ich%20m%C3%B6chte%20gerne%20den%20Newsletter%20von%20E.L.F.%20erhalten!',
  'onClick' => ''
}) do %>
    <h5>Wir informieren über...</h5>
    <p>
      - Projekte, für die man sich anmelden kann (Workshops, Ferienfahrten, ...),<br>
      - öffentliche Veranstaltungen,<br>
      - einzig und allein relevante Sachen, also vor allem, woran aktiv teilgenommen werden kann.
    </p>
    <h5>Wir schicken keinen...</h5>
    <p>
      - Spam,<br>
      - Content, den wir veröffentlichen.
    </p>
    <h5>Wie du dich anmeldest:</h5>
    <p>
      Sende uns einfach eine kurze formlose E-Mail, mit der E-Mail-Adresse, die wir in unseren Newsletter aufnehmen sollen an info@elf-ev.de mit dem Hinweis, dass ihr den Newsletter erhalten wollt. (Z.B. "Ich möchte euren Newsletter bekommen.")
      <br>
      Oder klicke ganz einfach auf den Button "Anmelden", dann öffnet sich eine vorgefertigte E-Mail in deinem E-Mail-Programm.
    </p>
<% end %>