---
layout: page-layout
tabTitle: 'Mitgliederbereich - E.L.F. e.V.'
title: 'Mitgliederbereich'
secondaryTitle: ''
description: 'Ein Bereich für unsere Mitglieder, um schnell alle Infos, Dateien und Programme zu finden, die bei E.L.F. genutzt werden.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => false,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door'],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Mitgliederbereich',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Neu hier? Willkommen!",
    'cardId' => 'neuhier',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => ['E-Mail schreiben', 'mailto:info@elf-ev.de?subject=Anfrage auf einen E.L.F.-Google-Account&', true, 'flat', 'envelope-plus'],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Dieser Bereich ist die Anlaufstelle für unsere Mitglieder, bei der sie Zugriff auf alle wichtigen E-Mail Adressen, Dokumente und Links haben. Viele Links auf dieser Seite lassen sich nur mit einem E.L.F. Google Account öffnen. Um sie öffnen zu können, melde dich damit an. Wenn du noch keinen Account besitzt, schreibe einfach eine kurze E-Mail an uns (info@elf-ev.de) oder sprich uns bei einem Treffen an.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Apps*",
    'cardId' => 'apps',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    <div class="collection">
      <a href="https://drive.google.com" target="_blank" class="collection-item waves-effect waves-dark black-text">Google Drive</a>
      <a href="https://www.meistertask.com/app/dashboard" target="_blank" class="collection-item waves-effect waves-dark black-text">MeisterTask</a>
      <a href="https://mail.google.com" target="_blank" class="collection-item waves-effect waves-dark black-text">Gmail & Google Chat</a>
      <a href="https://chat.google.com" target="_blank" class="collection-item waves-effect waves-dark black-text">Google Chat</a>
      <a href="https://calendar.google.com" target="_blank" class="collection-item waves-effect waves-dark black-text">Kalender</a>
    </div>
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "E-Mail Adressen",
    'cardId' => 'email-adressen',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => ['Adressen anzeigen*', 'https://docs.google.com/spreadsheets/d/1h2jVYoQQgybNeQFOEYi1V8SiXW2W2X_96WPcFJeEwUM/edit?usp=sharing', true, 'flat', ''],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Alle E-Mail Adressen, die für dich im Verein wichtig sind, findest du hier. (Ein E.L.F. Google Account wird benötigt)
  <% end %>

<% end %>

<% partial('layouts/components/modal', :locals => { 
  'id' => 'modal-neu', 
  'title' => 'Neu hier? Willkommen!',
  'buttonText' => 'E-Mail schreiben',
  'buttonLink' => 'mailto:info@elf-ev.de?subject=Anfrage auf einen E.L.F.-Google-Account&',
  'onClick' => ""
}) do %>
    <p>
      Dieser Bereich ist die Anlaufstelle für unsere Mitglieder, bei der sie Zugriff auf alle wichtigen E-Mail Adressen, Dokumente und Links haben. Viele Links auf dieser Seite lassen sich nur mit einem E.L.F. Google Account öffnen. Um sie öffnen zu können, melde dich damit an. Wenn du noch keinen Account besitzt, schreibe einfach eine kurze E-Mail an uns (info@elf-ev.de) oder sprich uns bei einem Treffen an.
    </p>
<% end %>