---
layout: page-layout
tabTitle: 'Overbeck-Kurzfilmprojekt - E.L.F. e.V.'
title: 'Overbeck-Kurzfilmprojekt'
secondaryTitle: 'Kunst und Medien kombiniert'
description: 'Jugendliche lernen anhand des Mediums Film die Kunst von Hermine und Fritz Overbeck kennen.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-overbeck-header.jpg',
  'altText' => 'Dreharbeiten im Wald bei der Filmfahrt 2019',
  'style' => 'max-width: 1000px; margin-top: -300px;'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => 'narrow-text center'
}) do %>

  <p class="justify">
    Dieses Filmprojekt bietet Jugendlichen und jungen Erwachsenen aus Bremen-Vegesack und umzu die Möglichkeit, sich anhand des Mediums Film mit dem Museum und der Kunst von Fritz und Hermine Overbeck auseinanderzusetzen. Bevor der Film gedreht wird, findet im Dezember 2019 ein Museumstag für alle Mitwirkenden im Overbeck-Museum statt. Dabei steht das Kennenlernen des Museums und des Malerpaares sowie ihrer Kunst im Mittelpunkt. Danach wird das Drehbuch gelesen, die Szenen geprobt und schließlich gedreht. Dabei werden Kunst und Film praktisch und abwechslungsreich erlebt.<br>
    Das Projekt wird gefördert von der VGH-Stiftung.<br>
    Mehr Informationen folgen im Laufe des Projektes.
  </p>

  <%= partial('layouts/components/button', :locals => {
    'btnText' => 'Teaser ansehen*',
    'btnLink' => 'https://youtube.com/playlist?list=PLTDpgM1PsyVr0f0eevldQqez533vsTS6Z',
    'btnLinkInNewTab' => true,
    'btnType' => 'large',
    'btnIcon' => 'play-circle',
    'btnPosition' => 'center'
  })%>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Vorproduktion',
  'sectionId' => 'vorproduktion',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Castings",
    'cardId' => 'castings-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Am Anfang wird ein Casting veranstaltet, bei dem Jugendliche aus Bremen-Nord die Möglichkeit haben, ihre schauspielrische Expertise anhand einer kurzen Beispielszene vorzuspielen. Dazu meldeten sie sich vorher an. Eine Jury aus einigen Vereinsmitgliedern entscheidet darüber, wer mitmachen kann - in diesem Fall glücklicherweise alle Teilnehmenden.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Drehbuch",
    'cardId' => 'drehbuch-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    In mehreren Vorbereitungstreffen wird eine grobe Idee für das Filmprojekt in Komibnation mit der Kunst entwickelt. Die Protagonist*innen sollen eine Reise durch die Bilderwelt der Overbecks unternehmen. Danach wird das Drehbuch von den Teilnehmenden und Mitgliedern vom E.L.F. e.V. geschrieben und im Laufe der Produktion immer wieder verfeinert.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Produktion',
  'sectionId' => 'produktion',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Dreh im Museum",
    'cardId' => 'dreh-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Im Januar 2020 wird im Overbeck-Museum gedreht. Die Teilnehmenden des Projekts können vor der Kamera schauspielerisch ihr Bestes geben und Mitglider des Vereins haben die Möglichkeit hinter den Kulissen die Kamera, den Ton und die Lichttechnik übernehmen. Dabei ist das Team komplett allein im Muesum und hat somit volle Freiheit beim Kurzfilm-Dreh. Für das Projekt wurde auch eine neue Kamera - die Blackmagic Pocket Cinema 4K - angeschafft, mit der die Museumskulisse und die Schauspieler noch besser zur Geltung kommen als je zuvor im Verein.
  <% end %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Animation",
    'cardId' => 'anitmation-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 6, 6],
    'cardAction' => [],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Ein Part findet zwar im Museum statt, aber der größte Teil des Films spielt in der Bilderwelt der Overbecks. Um die zu realisieren, werden zuerst die Dialoge der Schauspieler als Ton aufgenommen, es werden Bilder der Schauspieler gemacht und mit Adobe Fresco digitale Puppen aller Schauspieler erstellt. Danach werden die Szenen innerhalb der insgesamt drei Bilder mit Adobe Character Animator gebaut und die Puppen animiert. Das geschiet unter anderem per Motion Capturing, also Bewegungsaufnahme, der Gesichts- und Körperbewegungen per Webcam. Der Animationsprozess nimmt mit Vorbereitung ein Jahr in Anspruch, da dieser von den ehrenamtlich engagierten Mitgliedern übernommen wird und komplett neu erlernt werden muss, da mit den Programmen beim E.L.F. e.V. noch nicht gearbeitet wurde.
  <% end %>

<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => 'Nachproduktion',
  'sectionId' => 'nachproduktion',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Schnitt",
    'cardId' => 'schnitt-karte',
    'imageFile' => '',
    'altText' => '',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => true,
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'after',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Im Schnitt werden die vielen Aufnahmen des Drehs und der Animation mit Adobe Premiere Pro zusammengeschnitten. Dabei werden auch Musik, Sounds, Videoeffekte und sogar Set-Replacements hinzugefügt. Letzteres bedeutet, dass das Portrait von Fritz Overbeck in manchen Szenen im Nachhinein in retuschierter Form eingefügt, also ersetzt, werden muss.
  <% end %>

<% end %>