---
layout: page-layout
tabTitle: 'Reporter-Workshop - E.L.F. e.V.'
title: 'Reporter-Workshop mit Kim Adler'
secondaryTitle: 'Workshop mit Casting unter professioneller Anleitung'
description: 'Kim Adler, Fernsehmoderator und -reporter, gibt einen Workshop für Nachwuchsreporter beim E.L.F. e.V.'
---

<%= partial('layouts/components/navigation', :locals => { 
  'sidenav' => false, 
  'sidenavTitle' => '',
  'sidenavSecondaryTitle' => '',
  'logo' => false, 
  'logoHideOnTop' => true,
  'membersArea' => false,
  'search' => false,
  'policyInformation' => false,
  'primaryLinks' => ['', 'https://www.elf-ev.de/', 'house-door', 'Projekte', 'https://www.elf-ev.de/projekte.html', ''],
  'linksPosition' => 'left',
  'showOnMobile' => true,
  'sidenavCard' => [],
  'arrowUp' => true
}) %>

<%= partial('layouts/components/banner', :locals => {
  'logo' => false,
  'backgroundFile' => 'img/bg-ueber_uns.1BB5AD4CDB8FB7FCFC660DB0B644287C.jpg',
  'altText' => 'Jetzt anmelden als Nachwuchsreporter',
  'style' => 'max-width: 1000px; margin-top: -300px;'
}) %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'einleitung',
  'backgroundImageFile' => '',
  'style' => '',
  'pageIntroduction' => true,
  'addClass' => 'narrow-text'
}) do %>
  <p>
    Wir veranstalten einen Workshop unter professioneller Leitung vom Fernsehmoderator und -reporter Kim Adler für Nachwuchsreporter mit anschließendem Casting für unsere Jugendsendung. Mit machen kann jeder zwischen 11 und 17 Jahren.
    <br><br>
    <%= partial('layouts/components/event', :locals => {
      'title' => 'Samstag, 25.06.2022',
      'text' => '10:30 - 15 Uhr<br>Ort: <a class="red-d1-text" href="https://www.elf-ev.de/#kontakt">Gustav-Heinemann-Bürgerhaus</a>',
      'icsFileName' => 'reporter-workshop-termine.ics'
    })%>
  </p>
    <%= partial('layouts/components/button', :locals => {
      'btnText' => 'Jetzt anmelden',
      'btnLink' => 'mailto:info@elf-ev.de',
      'btnLinkInNewTab' => false,
      'btnType' => 'large',
      'btnIcon' => 'envelope-plus',
      'btnPosition' => 'center'
    })%>
<% end %>

<% partial('layouts/components/section', :locals => {
  'sectionTitle' => '',
  'sectionId' => 'infos',
  'backgroundImageFile' => '',
  'style' => 'max-width: 2000px',
  'pageIntroduction' => false,
  'addClass' => ''
}) do %>

  <% partial('layouts/components/card', :locals => { 
    'cardTitle' => "Kim Adler",
    'cardId' => 'kim-adler',
    'imageFile' => 'card-kim-adler.jpg',
    'altText' => 'Kim Adler als Reporter beim ZDF',
    'smlWidth' => [12, 12, 12],
    'cardAction' => [],
    'stickyAction' => 'false',
    'onlyImageCardDescription' => '',
    'reveals' => [],
    'contentPosition' => 'before',
    'cardActionReveal1' => [],
    'cardActionReveal2' => [],
    'cardActionReveal3' => []
  }) do %>
    Kim Adler ist ein deutscher Fernsehmoderator, Redakteur und Reporter. Er moderierte Live-Sendungen für das ZDF, Sat.1, die ARD und den KIKA. Bekannt wurde er als Moderator bei “Logo” und “Buten un Binnen”.
    <br><br>
    Jetzt möchte der ehemalige Nordbremer etwas von seinem Wissen weitergeben und die jungen Talente in die Medienwelt einführen. Die Themen umfassen den Aufbau eines Beitrags, das Entwickeln eigener Rubriken, das Führen einer Redaktionskonferenz, die Position innerhalb einer Redaktion, Moderations- und Kameratraining, sowie journalistische Standards in einer Jugendredaktion.
  <% end %>

<% end %>